#stuck_container {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		z-index: 999;
		background-color: #c1d5f8;
		padding: 5px 0 0;
}

.isStuck {
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
}


.isStuck .menuBox {
	margin: 0;

	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*
@media only screen and (min-width: 979px) {

.isStuck h1 a{
	width: 332px;
	height: 86px;
}

.isStuck h1 a img {
	width: 180px;
}


.isStuck h1 {
	top: 14px !important;
}


.isStuck .navigation, .isStuck .header_socials {
	position: relative;
	top: -20px;
}



	.isStuck {
	}


}
*/
@media only screen and (max-width: 979px) {

	#stuck_container {
		position: relative !important;
		box-shadow: none;
		
	}
	.pseudoStickyBlock {
		height: 0 !important;
	}

	.isStuck {
	}
}

@media only screen and (max-width: 767px) {

	.isStuck {    

}
}