@import "grid.css";
/*@import "font-awesome.css";*/
@import "superfish.css";

/*@import url(//fonts.googleapis.com/css?family=BenchNine);
@import url(//fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);*/
html {
    width: 100%;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background-color: #fff;
    color: #333333;
    font-family:"ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, Helvetica, Arial, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

strong {
    font-weight: 700;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 20px;
}

input, textarea {
    border-radius: 0 !important;
    outline: none !important;
}


img {
    max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #383636;
    font-family: 'BenchNine', sans-serif;
}

h2 {
    padding-top: 100px;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 22px;
}

h3 {
    font-size: 36px;
    line-height: 60px;
    padding-top: 71px;
    margin-bottom: 32px;
	font-weight: bold;
}

.page1 h3 {
    text-align: center;
    padding-top: 10px;
    margin-bottom:15px;
}

.page1 h3.head1 {
    padding-top: 10px;
    margin-bottom: 10px;
}

/****Lists****/


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list {
    padding-top: 20px;
    margin-bottom: 36px;
}

.list + h3 {
    padding-top: 0;
}

.list li {
    font-weight: normal;
    padding-left: 30px;
    background: url(../images/marker.png) 0 7px no-repeat;
}

.list li+li {
    margin-top: 16px;
}

.rate {
    margin-right: 64px;
    font-size: 14px;
    color: #383636;
    font-weight: normal;
}

.rate li>span {
    display: inline-block;
    margin-left: 12px;
}

.rate li>span+span {
    float: right;
    margin-right: 18px;
}

.rate .bar {
    position: relative;
    height: 12px;
    background-color: #bfbebe;
}

.rate li .scale {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #5e5c5c;
    width: 39%;
}

.rate li+li  {
    margin-top: 15px;
}

.rate li+li+li  {
    margin-top: 19px;
}

.rate li+li  {
    margin-top: 15px;
}

.rate li+li .scale {
    width: 31%;
}


.rate li+li+li .scale {
    width: 20%;

}

.rate li+li+li+li .scale {
    width: 11%;
}
/****Links****/


a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a:hover {
    color: #ccc;
}

.btn {
    font: 30px/30px 'Pathway Gothic One', sans-serif;
    display: inline-block;
    border: 1px solid #828282;
    color: #3a3838;
    padding: 3px 48px 12px;
    margin-top: 23px;
}

.btn:hover {
    background-color: #828282;
    color: #fff;
}

.page1 .btn {
    margin-top: 41px;  
}


/****classes****/

.mb0 {
    margin-bottom: 0px !important;
}
.m0 {
    margin: 0 !important;
}
.pad0 {
    padding: 0 !important;
}

.pad1 {
}


.img_inner {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
}

.page1 .img_inner {
    margin-top: 7px;
}

.fleft {
    float: left;
    width: auto !important;
    margin-right: 30px;
    margin-bottom: 0px;
}


.oh {
    overflow: hidden;
}
.fright {
    float: right !important;
}
.upp {
    text-transform: uppercase;
}

.alright {
    text-align: right;
}
.ta__center {
    text-align: center;
}

.ta__left {
    text-align: left;
}

.wrapper, .extra_wrapper {
    overflow: hidden;
}
.clear {
    float: none !important;
    clear: both;
}

.oh {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.rel {
    position: relative;
}

/*header*/

header {
    display: block;
    position: relative;
    z-index: 800;
    padding-top: 28px;
    border-bottom: 1px solid #414141;
	background-color: #c1d5f8;
    padding-top: 0px;
   	position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


/* PC / Tablet */

header .container {
	padding-top: 10px;
}

@media (min-width: 768px) {
  header .sp-mail {
    display: none;
  }
  header .sp-tel {
    display: none;
  }
  header .hd-info {
    float: left;
    width: 100%;
  }
  header #sp-navi {
    display: none !important;
  }
}
/* Smartphone */
@media (max-width: 767px) {

  #navi {
    display: none !important;
  }

	header .container {
		padding-top: 0px;
	}

  header .hd-info {
    position: relative;
    text-align: center;
    padding: 0;
  }
  header .hd-info h1 {
    width: 220px;
    margin: 0 auto;
  }
  header .sp-mail {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    border: 1px solid #ccc;
  }
  
  header .sp-tel img {
    margin-top: 15px;
	width: 300px;
  }
  
  header #sp-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background-image: url(../images/sp-btn.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 40px;
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
  }
  header #sp-btn.is-active {
    background-position: 0 -40px;
  }
  header #sp-navi {
    display: none;
  }
  header #sp-navi.is-active {
    display: block;
  }
  header #sp-navi ul li {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #888888;
  }
  header #sp-navi ul li a {
    display: block;
    padding: 16px 0;
    color: #444444;
    text-decoration: none;
  }
   
}

header h1 {
    position: relative;
    text-align: center;
    z-index: 990;
    float: left;
}

header h1 a {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;    
    text-indent: -999px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

header h1 a img {
    display: block;
}
@media only screen and (max-width: 1023px) {
    header h1 a img {
    width: 350px;
}
	header span.tel {
    margin-right: 10px;
}
    header span.tel img {
    width: 240px;
}
    header span.mail img {
    width: 120px;
}
}
@media only screen and (max-width: 768px) {
    header h1 a img {
    width: 330px;
}
	header span.tel {
    margin-right: 10px;
}
    header span.tel img {
    width: 220px;
}
    header span.mail img {
    width: 100px;
}
}
@media only screen and (max-width: 767px) {
    header h1 {
        padding-top: 12px;
        position: relative !important;
        margin-bottom: 20px;
        padding-left: 0;
        float: none;
        left: 0;
        text-align: center;
    }

    .head_top  {
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 0;
    }

    header h1 a {
        max-width: 90%;
        width: auto;
        display: inline-block;
        height: auto;
    }

    header h1 a img {
    width: 200px;
}
}

header div.contact {
    float: right;
}

@media only screen and (max-width: 767px) {
header div.contact {
    display: none;
}
}

header span.tel {
    margin-right: 22px;
}
@media only screen and (max-width: 1023px) {
	header span.tel {
		margin-right: 0px;
	}
}
header span.mail {}

/****Menu Link****/

#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9{
  margin-top: -140px;
  padding-top: 140px;
}
@media only screen and (max-width: 768px) {
#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9{
  margin-top: -160px;
  padding-top: 160px;
}
}
@media only screen and (max-width: 767px) {
#section1,#section2,#section3,#section4,#section5,#section6,#section7,#section8,#section9{
  margin-top: -120px;
  padding-top: 120px;
}
}

/****Content****/

.mainImage picture{
    display: block;
    text-align: center;
}

.content {
    padding-bottom: 15px;
}

.contentImage{
	display: block;
	text-align: center; 
	margin-bottom: 30px;
}
.contentImage div.plan img{
	margin-bottom: 20px;
}
.contentImage div.plan img.first {
	margin-right: 20px;
}
@media only screen and (max-width: 1024px) {
	.contentImage div.plan img{
		width: 45% !important;
	}
}
@media only screen and (max-width: 768px) {
	.contentImage img{
	    width: 90%;
	}
	.contentImage div.plan img{
		width: 500px !important;
	}
}
@media only screen and (max-width: 767px) {
	.contentImage div.plan img{
		width: 90% !important;
	}
	.contentImage div.plan img.first {
	margin-right: 0px;
	}
}

.contentText_wrap{
    display: block;
    text-align: center;
	padding: 0 75px
}
.contentText{
	font-size:24px;
    color: #333333;
    text-align: left;
    line-height: 140%;
}
h2.leadText{
	font-size:18px;
    color: #333333;
    line-height: 140%;
	padding-top: 0px;
	margin-top: 15px;
	margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
	h2.leadText{
	font-size:22px;
	line-height: 130%;
	font-weight: bold;
}
}
@media only screen and (max-width: 1024px) {
	h2.leadText{
	font-size:18px;
	line-height: 130%;
	font-weight: bold;
}
}
@media only screen and (max-width: 768px) {
	.contentText_wrap{
	padding: 0 50px
	}
	h2.leadText{
	font-size:19px;
	text-align: left;
	line-height: 130%;
}
}
@media only screen and (max-width: 767px) {
	.contentText_wrap{
	padding: 0 20px
	}
	.contentText{
	font-size:18px;
    line-height: 120%;
	}
	h2.leadText{
	font-size:16px;
	line-height: 130%;
}
}

.page1 .content {
    padding-top: 140px;
}
@media only screen and (max-width: 768px) {
	.page1 .content {
		padding-top: 129px;
	}
}
@media only screen and (max-width: 767px) {
	.page1 .content {
		padding-top: 100px;
	}
}

.st1 {
    font-size: 24px;
    line-height: 30px;
	font-weight: bold;
    color: #334599;
    padding: 0 0 10px 0;
}
.st1 span {
    font-size: 36px;
}
.st2 {
    font-size: 20px;
    line-height: 30px;
	font-weight: bold;
    color: #333333;
    padding: 0 0 10px 0;
}
.st3 {
    font-size: 16px;
    line-height: 140%;
	font-weight: normal;
    color: #333333;
    padding: 0 0 10px 0;
	text-align:left
}
.st4 {
    font-size: 18px;
    line-height: 160%;
	font-weight: normal;
    color: #333333;
}
.st4 a {
	text-decoration: underline;
}
.st4 a:hover {
    color: #334599;
	text-decoration: none;
}
@media only screen and (max-width: 767px) {
	.st1 {
	    font-size: 18px;
    	padding: 5px 20px;
	}
	.st1 span {
    font-size: 30px;
	}
	.st2 {
	    font-size: 16px;
	}
	.st3 {
    	font-size: 14px;
	}
	.st4 {
		font-size: 14px;
		line-height: 300%;
	}
}


.faqList ul {
  padding-top: 10px;
}

.faqList ul {
  list-style:none;
  text-align:left;
  margin-top: 20px;
}

.faqList ul li {
  font-size: 18px;
  margin-bottom:8px;
  text-indent: -2em;
  padding-left: 2em;
}

.faqList ul li.question {
  margin-bottom:10px;
}
.faqList ul li.question span {
  color: #e91a1a;
  font-weight: bold;
}

.faqList ul li.answer {
  margin-bottom:30px;
}
.faqList ul li.answer span {
  color: #334599;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
.faqList ul li {
  font-size: 16px;
  line-height: 140%;
}
}


/****Blocks****/
.banners {
    margin-left: -1px;
}

.banners img {
    margin-bottom: 10px;
}
.banners img.first {
    margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
	.banners img{
		width: 45% !important;
	}
}
@media only screen and (max-width: 768px) {
	.banners img{
		width: 47% !important;
	}
}
@media only screen and (max-width: 767px) {
	.banners img{
		width: 90% !important;
	}
	.banners img.first {
    margin-right: 0px;
	}
}

.banner {
    margin-bottom: 1px;
    display: block;
    float: left;
    position: relative;
    color: #fff;
    font: 48px/48px 'BenchNine', sans-serif;
    padding-left: 1px;
}

.bann_capt {
    position: absolute;
    left: 0;
    right: 0;
    top: 100;
    margin-top: -34px;
}

.banner:hover span {
    width: 100%;
    color: #fff;
}


.bann_capt span {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    padding-bottom: 14px;
    width: 241px;
    display: inline-block;
    border-bottom: 1px solid #fff;
}


.block1 {
    overflow: hidden;
}

.blog {
    overflow: hidden;
}

.blog+.blog {
    margin-top: 43px;
}

.blog_links {
    margin-bottom: 10px;
    padding-top: 1px;
}

.blog .fleft {
    margin-top: 4px;
    border: 1px solid #d4cece;
    border-right-width: 2px;
}

.blog .btn {
    margin-top: 26px;
}

/****Gallery****/

.gall_item {
    margin-top: 5px;
    display: block;
    position: relative;
    margin-bottom: 31px;
    background: #000 url(../images/magnify.png) center center no-repeat;
    border: 1px solid #d3cdcd;
}

.gall_item img {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    width: 100%;
    box-shadow: 0 0 #fff;
}

.gall_item:hover img {
    opacity: 0.2;
}

/****Separators****/

.sep__1 {
    padding-top: 47px;
    margin-bottom: 29px;
    border-bottom: 1px solid #414141;
}

.sp__1 {
    padding-top: 76px;
    margin-bottom: 30px;
}

.sep__1.sp__2 {
    position: relative;
    top: 1px;
    padding-top: 76px;
    margin-bottom: 0px;
}

.sep__2 {
    height: 44px;
}

.sep__3 {
    height: 43px;
}

.sep__4 {
    height: 49px;
}


/*******Search******/

#search {
    position: relative;
    padding-top: 6px;
}

#search+h3 {
    padding-top: 41px;
    margin-bottom: 17px;
}

#search .rel {
    position: relative;
}

#search label {
    display: block;
}

#search input {
     width: 100%;
     height: 47px;
     padding: 13px 55px 14px 20px;
     font: 14px/20px 'Open Sans', sans-serif;
     color: #383636;
     border: 1px solid #d1caca;
     box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}




#search a
 {
    display: block;
    position: absolute;
    background: url(../images/search_icon.png) center center no-repeat;
    width: 64px;
    height: 47px;
    right: 0;
    top: 0;
    cursor: pointer;
}

#search a:hover
{
    opacity: 0.5;
}



/****Text styles****/
.text1 {
    color: #3a3838;
    margin-bottom: 11px;
    font: 30px/30px 'Pathway Gothic One', sans-serif;
}

.fw1 {
    font-weight: normal;
}

.text1.tx__1 {
    margin-bottom: 39px;
}

.page1 .text1 {
    margin-bottom: 7px;
}

.text1 time {
    display: block;
    font-size: 24px;
}


.text1 time+a {
    position: relative;
    top: -3px;
}

.color1 {
    color: #383636;
}

.color1 a:hover, a.color1:hover {
    color: #ccc;
}

.color2 {
    color: #eee;
}

.td_underline {
    text-decoration: underline;
}

/****Map****/

.map {
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 40px;
}

.map figure {
    position: relative;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.map figure iframe {
    width: 100%;
    height: 264px;
    max-width: 100%;
}

.address1 {
    padding-top: 3px;
    display: block;
    float: left;
}

.address1 dt {
}

.address1+.address1 {
    margin-left: 60px;
}

.address1 dd span {
    min-width: 85px;
    display: inline-block;
    text-align: left;
}

.address1 dd span.col1 {
    min-width: 0;
}

/**Service**/

#service {
	width: 100%;
}

#service .box {
	border: solid 1px #c1d5f8;
	background-color: #fcfbd2;
	color:#333333;
	float: left;
	width: 19%;
	height: 350px;
    margin-left: 1%;
	margin-bottom: 20px;
	text-align: center;
}
#service div.first {
    margin-left: 0px;
}

#service .box h4 {
	font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    padding: 10px 0;
}

#service .box p {
	text-align: left;
	font-size: 16px;
    line-height: 140%;
    padding: 0 3px 0 10px;
	margin-bottom: 0px;
}

#service .box p.notice {
	text-align: left;
	font-size: 12px;
    line-height: 140%;
    padding: 10px 3px 0 5px;
}

@media only screen and (max-width: 1024px) {
	#service .box {
    margin-left: 0.8%;
	height: 310px;
	}
	
	#service .box h4 {
    font-size: 16px;
	}
	
	#service .box p {
	text-align: left;
	font-size: 14px;
    padding: 0 3px 0 5px;
	}
}
@media only screen and (max-width: 768px) {
	#service .box {
		width: 18%;
		height: 370px;
	}
	
	#service div.first {
		margin-left: 2%;
	}
	
	#service .box h4 {
    font-size: 16px;
	}
	
	#service .box p {
	text-align: left;
	font-size: 16px;
    padding: 0 1px 0 5px;
	}
}
@media only screen and (max-width: 767px) {
	#service .box {
		float: none;
		width: 90%;
		margin: 0 auto 20px;
		height: auto;
	}
	#service .box h4 {
    font-size: 24px;
	}
	#service .box p {
	text-align: left;
	font-size: 18px;
	padding: 0 5px 10px 8px;
	}
	#service div.first {
		margin: 0 auto 20px;
	}
	#service .box p.notice {
	font-size: 13px;
    padding: 0 5px 10px 8px;
}
}


/**Voice**/

#voice {
	width: 100%;
}

#voice .box {
	border: solid 1px #c1d5f8;
	background-color: #fcfbd2;
	color:#333333;
	float: left;
	width: 24%;
	height: 500px;
    margin-left: 1%;
	text-align: center;
}
#voice div.first {
    margin-left: 0px;
}

#voice .box h4 {
	font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    padding: 10px 0;
}

#voice .box p {
	text-align: left;
	font-size: 18px;
    line-height: 120%;
    padding: 0 3px 0 10px;
}

@media only screen and (max-width: 768px) {
	#voice .box {
		width: 23%;
		height: 450px;
	}
	
	#voice div.first {
		margin-left: 2%;
	}
	
	#voice .box h4 {
    font-size: 16px;
	}
	
	#voice .box p {
	text-align: left;
	font-size: 16px;
    padding: 0 3px 0 10px;
	}
}
@media only screen and (max-width: 767px) {
	#voice .box {
		float: none;
		width: 90%;
		margin: 0 auto 20px;
		height: auto;
	}
	#voice .box p {
	text-align: left;
	font-size: 16px;
	padding: 0 6px 0 10px;
	}
	#voice div.first {
		margin: 0 auto 20px;
	}
}

/**Company**/

#company {
	width: 780px;
    margin: 0 auto;
    padding-left: 30px;
}

#company table  {
	width: 100%;
    border-collapse: separate !important;
    border-spacing: 3px !important;
}
#company table th,
#company table td {
  padding: 10px;
  border: 1px solid #999;
  line-height: 140%;
}
#company table th {
  background-color: #c1d5f8;
  text-align: center;
}
@media screen and (max-width: 1023px) {
	#company {
		width: 90%;
	}
}
@media screen and (min-width: 426px) {
	#company table th {
		width: 30%;
	  }
}
@media screen and (max-width: 425px) {
	#company {
		width: 100%;
	    padding-left: 0px;
	}
	#company table td {
		display: block;
		text-align: center;
	  }
	#company table th {
		display: block;
		border-bottom: none;
	  }
}

/**Mailform**/

#mailform {
	width: 600px;
	margin: auto;
}
@media only screen and (max-width: 768px) {
	#mailform {
		width: 450px;
	}
}
@media only screen and (max-width: 767px) {
	#mailform {
		width: 100%;
	}
}

/**Footer menu**/

@media only screen and (max-width: 768px) {
	.footermenu {
		padding-left: 10px;
	}
}

/**Footer**/

#footer {
    display: block;
    padding: 10px 0 30px;
    border-top: 1px solid #414141;
	background-color: #c1d5f8;
}

.copyright {
    font-weight: normal;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #535a5f;
}

.copyright .brand {
    position: relative;
    top: -2px;
    font-weight: 300;
    font-size: 16px;
}

.copyright div {
    padding-top: 5px;
    color: #908b8b;
}

.copyright div a:hover {
    color: #535a5f;
}

.socials {
    float: right;
    color: #2a2828;
    overflow: hidden;
}

.socials .fa {
    font-size: 36px;
    float: left;
    line-height: 38px;
}

.socials .fa.fa-twitter {
    font-size: 38px;
}

.socials .fa.fa-youtube-play {
    margin-left: 23px !important;
}

.socials .fa +.fa {
    margin-left: 19px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 82%;
    overflow: hidden;
    width: 69px;
    height: 79px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0; 
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}
@media only screen and (max-width: 1440px) {
	#toTop {
	    left: 90%;
	}
}
@media only screen and (max-width: 768px) {
	#toTop {
		left: 88%;
	    bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	#toTop {
		left: 87%;
	    bottom: 30px;
	}
}
@media only screen and (max-width: 570px) {
	#toTop {
		left: 85%;
		bottom: 20px;
	}
}
@media only screen and (max-width: 425px) {
	#toTop {
		left: 85%;
		width: 48px;
		background: url(../images/sp-totop.png) no-repeat left 0;
		bottom: 10px;
	}
}
@media only screen and (max-width: 375px) {
	#toTop {
		left: 84%;
	}
}
@media only screen and (max-width: 320px) {
	#toTop {
		left: 80%;
	}
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1199px) {
    .banner {
        width: 468px;
    }

    .banner+.banner {
        width: 467px;
    }

     .banner+.banner+.banner {
        width: 468px;
        clear: left;
     }

     .banner+.banner+.banner+.banner {
        width: 467px;
        clear: none;
     }

      .ih-item.circle.effect2 .info h3 {
        padding-top: 60px !important;
        font-size: 28px !important;
    }

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 220px !important;
        height: 220px !important;
    }

}
@media only screen and (max-width: 979px) {

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 172px !important;
        height: 172px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 50px !important;
        font-size: 20px !important;
        line-height: 24px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }


    .blog .extra_wrapper {
        overflow: visible;
    }

    .fleft {
        margin-right: 10px;
    }

    .address1 {
        float: none;
    }

    .address1 +.address1  {
        margin-left: 0;
        margin-top: 30px;
    }
    
     .map figure,  
     .map figure iframe,  
     #form input,
     #form textarea,  
     #form .success {
        width: 100% !important;
        float: none !important;
    }
     #form .success {
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         -o-box-sizing: border-box;
         box-sizing: border-box;
    }

     .map figure {
     height: auto !important;
    }

    .map figure {
    	margin-bottom: 15px;
    }

    .nowrap {
        white-space: normal;
    }


    .address1 dd span  {
        min-width: 0;
    }
    

    .banner {
        width: 370px;
    }

    .banner+.banner {
        width: 370px;
    }

     .banner+.banner+.banner {
        width: 370px;
        clear: left;
     }

     .banner+.banner+.banner+.banner {
        width: 370px;
        clear: none;
     }

     .circle .c_caption .title {
        font-size: 25px;
     }

     .block1 .fleft,
     .blog .fleft  {
         margin-top: 40px !important;
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
     }
}

@media only screen and (max-width: 767px) {

	.page1 h3 {
		margin-bottom:10px;
	}
  
    .circle {
        margin-bottom: 30px;
    }

    .circle {
        margin-bottom: 30px;
    }

    .ih-item.circle, 
    .ih-item.circle .img {
        width: 420px !important;
        height: 420px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 170px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }

    .sep__4 {
        height: 0;
    }

    .gall_item {
        margin-top: 40px;
    }

    .sep__2 {
        height: 0;
    }

    h2 {
        font-size: 50px;
        line-height: 55px;
    }

    h3 {
        font-size: 28px;
    }

    .socials {
        float: none;
        margin-bottom: 20px;
    }

    .circle .c_caption .title {
        font-size: 36px;
     } 

    .banner {
        float: none !important;
        width: auto !important;
        margin-bottom: 1px;
    }

    .img_inner img {
    	width: 100%;
    }

    .img_inner {
        margin-top: 40px !important;
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }

    .map figure iframe {
        height: 300px;
    }

    .content .noresize {
        width: auto !important;
        float: left !important;
        margin-right: 20px !important;
        margin-top: 4px !important;
    }

    .img_inner {
        margin-top: 30px;
    }
    .none {
        clear: both;
    }
}


@media only screen and (max-width: 479px) {
    
    .ih-item.circle, 
    .ih-item.circle .img {
        width: 300px !important;
        height: 300px !important;
    }

    .ih-item.circle.effect2 .info h3 {
        padding-top: 110px !important;
        font-size: 36px !important;
        line-height: 40px !important;
    }

    .ih-item.circle.effect2 .info p {
        font-size: 18px !important;
    }    
}

/* Delay images */

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:0.8s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-10px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
