@charset "UTF-8";
/**
 * アイコンフォント
 */
@font-face {
  font-family: "design_plus";
  src: url("../../fonts/design_plus.eot?v=1.1");
  src: url("../../fonts/design_plus.eot?v=1.1#iefix") format("embedded-opentype"), url("../../fonts/design_plus.woff?v=1.1") format("woff"), url("../../fonts/design_plus.ttf?v=1.1") format("truetype"), url("../../fonts/design_plus.svg?v=1.1#design_plus") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon::before {
  font-family: "design_plus";
  font-size: 24px;
  margin: 0 .5em;
  vertical-align: middle;
}
.icon-envelope::before { content: "\f0e0"; }
.icon-file-text::before { content: "\f15c"; }
.icon-pencil::before { content: "\f040"; }
.icon-phone::before { content: "\f095"; }
.icon-share-alt::before { content: "\f1e0"; }
.icon-tag::before { content: "\f02b"; }

/**
 * ウィジェット
 */
.ml_ad_widget_box_wrap { margin-bottom: 15px; }

.ml_ad_widget_headline {
  background: #eee;
  border: 1px solid #ccc;
  font-size: 100%;
  height: 40px;
  line-height: 40px;
  margin: 15px 0 -1px 0;
  padding: 0 15px;
  position: relative;
}
.ml_ad_widget_headline:hover {
  background-color: #def2f8;
  cursor: pointer;
}
.ml_ad_widget_headline.active { background-color: #def2f8; }
.ml_ad_widget_headline:after {
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #aaaaaa transparent transparent transparent;
  content: "";
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  width: 0;
  height: 0;
}

.ml_ad_widget_sub_headline {
  border-bottom: 1px dotted #aaa;
  font-size: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}

.ml_ad_widget_box {
  border: 1px solid #ccc;
  display: none;
  padding: 15px 15px 0;
}
.ml_ad_widget_box.open { display: block; }
.ml_ad_widget_box .notice {
  background: #def2f8;
  margin: 0 0 20px 0;
  padding: 15px;
  position: relative;
}
.ml_ad_widget_box .notice:after {
  border: 10px solid #eef0f2;
  border-color: transparent;
  border-top-color: #def2f8;
  content: "";
  display: block;
  height: 0px;
  margin: 0 auto 0;
  position: absolute;
  bottom: -17px;
  right: 0;
  left: 0;
  width: 0px;
}
.ml_ad_widget_box .preview_field { text-align: center; }
.ml_ad_widget_box .preview_field img {
  width: 150px;
  height: auto;
}
.ml_ad_widget_box .select-img,
.ml_ad_widget_box .delete-img {
  display: block;
  line-height: 34px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
  height: 35px;
}

.ml_ad_widget_box_inner {
  margin: 0 0 20px 0;
}

/**
* カスタムフィールド
*/
.ml_custom_fields {
  margin: 0 -12px;
  padding: 12px 0;
  /* テンプレート選択時に表示されるボックス */
  /* 画像の読み込みフィールド */
}
.ml_custom_fields dt.label {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  font-weight: bold;
  margin: 0 15px 15px;
  padding: 0 0 12px 0;
}
.ml_custom_fields dt.label:before {
  background: #1385b0;
  border-radius: 1px;
  content: '';
  display: block;
  float: left;
  margin: 0px 8px 0 0;
  width: 5px;
  height: 20px;
}
.ml_custom_fields dd.content {
  border-bottom: 1px solid #ddd;
  margin: 0 0 25px;
  padding: 0 12px 25px;
}
.ml_custom_fields dd.content:last-child {
  border: none;
  margin: 0;
  padding: 0 12px;
}
.ml_custom_fields dd.content .desc {
  color: #999;
}
.ml_custom_fields.type2 {
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 0 #bbb;
  margin: 10px 0 0 0;
  padding: 0;
}
.ml_custom_fields.type2 dt.headline {
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 1px #fff inset;
  font-size: 16px;
  line-height: 160%;
  margin: 0 0 18px;
  padding: 10px 20px;
}
.ml_custom_fields.type2 dt.label {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 15px;
  margin: 0 15px 15px;
  padding: 0 0 12px 0;
}
.ml_custom_fields.type2 dt.label:before {
  background: #1385b0;
  border-radius: 1px;
  content: "";
  display: block;
  float: left;
  margin: 0px 8px 0 0;
  width: 5px;
  height: 20px;
}
.ml_custom_fields.type2 dd.content {
  border-bottom: 1px solid #ccc;
  margin: 0 0 25px;
  padding: 0 15px 25px;
}
.ml_custom_fields.type2 dd.content:last-child {
  border: none;
  margin: 0;
}
.ml_custom_fields.type2 p.desc {
  color: #999;
}
.ml_custom_fields.type2 .mce-tinymce iframe {
  min-height: 250px !important;
}
.ml_custom_fields .preview_field img {
  display: block;
  max-width: 200px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin: 0 0 10px 0;
}

/* テンプレートの選択エリア */
.ml_custom_fields_select {
  margin: 0;
  padding: 15px 0;
}
.ml_custom_fields_select .radio li {
  float: left;
  margin: 15px 15px 0 0;
  text-align: center;
}
.ml_custom_fields_select .radio li img {
  display: block;
  margin: 0 0 10px 0;
}
.ml_custom_fields_select .radio li label {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  margin: 0 0 10px 0;
  padding: 15px 10px;
}
.ml_custom_fields_select .radio li label.active, .ml_custom_fields_select .radio li label:hover {
  background: #edfaff;
  border-color: #95cfe7;
}
.ml_custom_fields_select .radio.side_content li {
  float: left;
  margin: 15px 15px 0 0;
  text-align: center;
}
.ml_custom_fields_select .radio.side_content li label {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  padding: 15px 10px;
  margin: 0 0 10px 0;
}
.ml_custom_fields_select .radio.side_content li label.active, .ml_custom_fields_select .radio.side_content li label:hover {
  background: #edfaff;
  border-color: #95cfe7;
}
.ml_custom_fields_select dt.label {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding: 0 0 12px 0;
}
.ml_custom_fields_select dt.label:before {
  background: #7a879e;
  border-radius: 1px;
  content: "";
  display: block;
  float: left;
  margin: 0px 8px 0 0;
  width: 5px;
  height: 20px;
}
.ml_custom_fields_select dd {
  margin: 0;
}

#ml_custom_fields_box2 {
  display: none;
}

#ml_custom_fields_box3 {
  display: none;
}

#ml_custom_fields_box4 {
  display: none;
}

/**
 * 画像の読み込みフィールド 
*/
.cf_media_field {
  padding: 15px 0 0;
}

/**
* テーマオプション
*/
#my_theme_option {
  background: #3b4960;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 20px 0;
}

#my_theme_left {
  float: left;
  width: 20%;
}

#my_theme_right {
  background: #fff;
  border-radius: 0 6px 6px 0;
  box-sizing: border-box;
  float: right;
  min-height: 500px;
  width: 80%;
}

#tab-panel {
  padding: 39px 30px 20px;
}

/* 左メニュー */
#theme_tab {
  margin: 0;
  border-bottom: 1px solid #6a7992;
}
#theme_tab li {
  margin: 0;
}
#theme_tab li:first-child a {
  border-top: none;
  border-radius: 7px 0 0 0;
}
#theme_tab li.current a, #theme_tab li.current a:hover {
  background: #fff;
  color: #333;
  position: relative;
}
#theme_tab li a {
  border-bottom: 1px solid #000;
  border-top: 1px solid #6a7992;
  color: #fff;
  display: block;
  font-size: 100%;
  padding: 11px 15px;
  text-decoration: none;
}
#theme_tab li a:hover {
  background: #617089;
}
#theme_tab li a:focus {
  box-shadow: none;
}

/* 項目 */
.theme_option_field {
  box-shadow: 0px 0px 0px 3px #fff inset;
  background: #fff;
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  overflow: hidden;
  padding: 20px;
}
.theme_option_field .hide {
  display: none;
}
.theme_option_field .button_area {
  padding: 20px 0;
}
.theme_option_field .button_area label {
  display: block;
  font-weight: bold;
}
.theme_option_field .button_area .button-ml {
  margin: 0;
}
.theme_option_field input[type="file"] {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 5px;
}

.theme_option_headline {
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#eeeeee');
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 0px 1px #fff inset, 0 0 0 3px #fff;
  font-size: 16px;
  line-height: 160%;
  margin: -20px -20px 18px;
  padding: 10px 20px;
}

.theme_option_headline2 {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  font-weight: bold;
  margin: 30px 0 10px 0;
  padding: 0 0 12px 0;
}
.theme_option_headline2:before {
  background: #7a879e;
  border-radius: 1px;
  content: "";
  display: block;
  float: left;
  margin: 0px 8px 0 0;
  height: 20px;
  width: 5px;
}

.theme_option_headline3 {
  font-weight: bold;
  font-size: 15px;
  margin: 20px 0 0 0;
  padding: 0 0 12px 0;
}
.theme_option_headline3:before {
  background: #7a879e;
  border-radius: 2px;
  content: "";
  display: block;
  float: left;
  margin: 3px 8px 0 0;
  width: 14px;
  height: 14px;
}

/* ボタン */
.button-ml {
  background: #0073aa;
  border: 1px solid #005177;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  margin: 20px 0 0 0;
  padding: 0px 30px;
  text-decoration: none;
}
.button-ml:active {
  box-shadow: none;
  bottom: -2px;
  position: relative;
}
.button-ml:hover {
  background: #13cae0;
  border: 1px solid #3ea5b1;
  color: #fff;
}

a.button-ml {
  display: inline-block;
  margin: 0;
}

/* 広告バナーの登録 */
.image_box {
  margin: 0 0 15px 0;
}
.image_box img {
  display: block;
  max-width: 200px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin: 0 0 15px 0;
}

/* セレクト */
.select_type2 label {
  display: block;
  margin: 0 0 10px 0;
}

/* その他の設定 */
.theme_option_message { margin:20px 0; background:#def2f8; padding:5px 20px; border-radius:4px; position:relative; }
.theme_option_message p { font-size:13px; }

.hankaku { ime-mode: disabled; }

.font_size { width: 30px; }

.headline_option label { margin: 0 20px 0 0; }

.upload_banner_button_area { margin: 0 0 15px 0; }

.cf { display: inline-block; }
.cf::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0.1em;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* exlude MacIE5 \*/
* html .cf { height: 1%; }
.cf { display: block; }

/* end MacIE5 */
.uploaded_banner_image p {
  background: #def5f8;
  border: 1px solid #8fcad1;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 20px;
}

/* リピーター */
.topt_repeater { padding-top: 8px; }
.topt_repeater > div { padding: 20px; }
.topt_repeater > div:nth-child(even) { background: #f6f6f6; }
.topt_repeater dl.dl_form1 { margin: 0 0 5px 0; }
.topt_repeater .delete-row {
  margin: 0;
  text-align: right;
}
.topt_repeater .preview_field img {
  display: block;
  height: auto;
  margin: 0 0 10px;
  max-height: 120px;
  max-width: 200px;
  width: auto;
}
.topt_repeater .sortable-placeholder {
  background: #fff !important;
  min-height: 80px;
}
.topt_repeater .ui-sortable-helper { opacity: 0.9; }

/* hover effect タブ */
.tab-box > div { display: none; }
#tab-type1:checked ~ .tab-box > #tabView1 { display: block; }
#tab-type2:checked ~ .tab-box > #tabView2 { display: block; }
#tab-type3:checked ~ .tab-box > #tabView3 { display: block; }

/* 開閉式のサブボックス */
.sub_box {
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 15px 0;
  padding: 0 20px 0;
}
.sub_box.active > .sub_box_content {
  display: block;
  padding-bottom: 20px;
}
.sub_box.active > .theme_option_subbox_headline {
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 0 0 1px #fff;
}
.sub_box.active > .theme_option_subbox_headline:after {
  border-width: 0 5.5px 7px 5.5px;
  border-color: transparent transparent #aaaaaa transparent;
}
.sub_box.active > .theme_option_subbox_headline:hover {
  background: -webkit-linear-gradient(top, #effcfc, #d9f4f4);
  background: -moz-linear-gradient(top, #effcfc, #d9f4f4);
  background: -ms-linear-gradient(top, #effcfc, #d9f4f4);
  background: -o-linear-gradient(top, #effcfc, #d9f4f4);
  background: linear-gradient(top, #effcfc, #d9f4f4);
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #ccc;
}
.sub_box_content { display: none; }

.theme_option_subbox_headline {
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -ms-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(top, #ffffff, #eeeeee);
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #fff;
  cursor: pointer;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  margin: 0 -20px;
  padding: 0 20px;
  position: relative;
}
.theme_option_subbox_headline:after {
  border-style: solid;
  border-width: 7px 5.5px 0 5.5px;
  border-color: #aaaaaa transparent transparent transparent;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  width: 0;
  height: 0;
}
.theme_option_subbox_headline:hover {
  background: -webkit-linear-gradient(top, #effcfc, #d9f4f4);
  background: -moz-linear-gradient(top, #effcfc, #d9f4f4);
  background: -ms-linear-gradient(top, #effcfc, #d9f4f4);
  background: -o-linear-gradient(top, #effcfc, #d9f4f4);
  background: linear-gradient(top, #effcfc, #d9f4f4);
}

/* color picker */
.wp-picker-container {
	vertical-align: middle;
}

/* CTA */
.c-preview-list {
	display: flex;
	align-items: flex-end;
	text-align: center;
}
.c-preview-list__item {
	flex: 1;
	margin-right: 20px;
}
.c-preview-list__item:last-child {
	margin-right: 0;
}
.c-preview-list__item-img {
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	height: auto;
}
.u-hidden {
	display: none;
}

/* edit.php */
@media only screen and (max-width: 782px) {
	.widefat th.column-post_id, .widefat td.column-post_id { display: none!important; }
}

/* A/B Testing */
.c-ab-table {
	border: 1px solid #e5e5e5;
	border-spacing: 0;
	font-size: inherit;
	width: 100%;
}
.c-ab-table__row {
	float: left;
	width: 25%;
}
.c-ab-table th, .c-ab-table td {
	display: block;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
}
.c-ab-table th:last-child , .c-ab-table td:last-child {
	border-bottom: 0;
}
.c-ab-table th {
  background: #f9f9f9;
  font-weight: normal;
  text-align: left;
}
.c-ab-table td {
	border-left: 1px solid #e5e5e5;
	text-align: center;
}
.c-ab-table .c-ab-table__reset {
	color: #a00;
	min-width: 15px;
	width: 15px;
	height: 15px;
}
