@charset "UTF-8";
/*
Theme Name:OOPS!
Theme URI:
Description:WordPressテーマ「OOPS!」
Author:Design Plus
Author URI:http://design-plus1.com/tcd-w/
Version:1.1
*/
/* ========================================================================== Foundation ========================================================================== */
/* Reset  ----------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight: normal; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

audio, canvas, video { display: inline-block; max-width: 100%; }

html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

ul, ol { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a:focus { outline: none; }

ins { text-decoration: none; }

mark { font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

button, input, select, textarea { outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 100%; }

input, textarea { background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); -webkit-appearance: none; border-radius: 0; /* Removing the inner shadow, rounded corners on iOS inputs */ }

input[type="checkbox"] { -webkit-appearance: checkbox; }

input[type="radio"] { -webkit-appearance: radio; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

img { -ms-interpolation-mode: bicubic; }

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; height: 0; font-size: 0.1em; line-height: 0; visibility: hidden; overflow: hidden; }

.clearfix { display: inline-block; }

/* exlude MacIE5 \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* end MacIE5 */
/* Base ----------------------------------------------------------------- */
body { background: #fff; color: #000; line-height: 1; -webkit-font-smoothing: antialiased; }

a { color: #000; text-decoration: none; }

b, strong { font-weight: 700; }

big { font-size: larger; }

small { font-size: 80%; }

sub { vertical-align: sub; font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

i, cite, em, var, address, dfn { font-style: italic; }

tt, code, kbd, samp { font-family: monospace; }

u, ins { text-decoration: underline; }

img { vertical-align: bottom; }

input { border: 0; margin: 0; padding: 0; }

select { background: none transparent; border: 0; border-radius: 0; margin: 0; padding: 0; -moz-appearance: none; -webkit-appearance: none; appearance: none; }

/* for IE */
select::-ms-expand { display: none; }

a, a:before, a:after, input { -moz-transition-property: background-color, color; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease; -o-transition-property: background-color, color; -o-transition-duration: 0.2s; -o-transition-timing-function: ease; -webkit-transition-property: background-color, color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease; transition-property: background-color, color; transition-duration: 0.2s; transition-timing-function: ease; }

/* infinite scroll */
#infscr-loading { color: #525252; font-size: 14px; text-align: center; width: 100%; }
#infscr-loading img { margin-right: 8px; vertical-align: middle; }
#infscr-loading div { display: inline; }

/* -------------------------------------------------------------------------------- web fonts　ウェブフォントファイルを変更した場合はv=1.0の数字を変更（キャッシュ対策）
-------------------------------------------------------------------------------- */
@font-face { font-family: "design_plus"; src: url("fonts/design_plus.eot?v=1.0"); src: url("fonts/design_plus.eot?v=1.0#iefix") format("embedded-opentype"), url("fonts/design_plus.woff?v=1.0") format("woff"), url("fonts/design_plus.ttf?v=1.0") format("truetype"), url("fonts/design_plus.svg?v=1.0#design_plus") format("svg"); font-weight: normal; font-style: normal; }
/* -------------------------------------------------------------------------------- keyframes
-------------------------------------------------------------------------------- */
/* fadeIn */
@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
/* loading-anime */
@-webkit-keyframes loading-anime { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes loading-anime { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
/* slideDown */
@-webkit-keyframes slideDown { 0% { top: -70px; }
  100% { top: 0; } }
@keyframes slideDown { 0% { top: -70px; }
  100% { top: 0; } }
/* ========================================================================== Layout ========================================================================== */
/* Footer ----------------------------------------------------------------- */
.l-footer { background: #131e20; padding-top: 32px; }

.l-footer__inner { padding-bottom: 50px; }

.l-footer__logo { margin-bottom: 32px; text-align: center; }

/* Header ----------------------------------------------------------------- */
.l-header { background: rgba(19, 30, 32, 0.8); height: 70px; line-height: 70px; width: 100%; position: relative; z-index: 999; }
.l-header.is-fixed { position: absolute; top: 0; }
.l-header.is-active { height: 70px; line-height: 70px; position: fixed; top: 0; left: 0; -webkit-animation: slideDown 0.5s ease; animation: slideDown 0.5s ease; }

.l-header--large { height: 103px; line-height: 103px; position: absolute; top: 0; left: 0; z-index: 999; }

.l-header__inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-left: auto; margin-right: auto; position: relative; width: 88.28125%; max-width: 1130px; height: 100%; }

.l-header__logo { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.l-header__logo a { line-height: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; overflow: hidden; word-wrap: break-word; }
.l-header__logo img { vertical-align: middle; }

.l-header__logo--text a { width: 200px; }

.l-header__logo--retina img { width: 50%; }

/* Inner ----------------------------------------------------------------- */
.l-inner { margin-left: auto; margin-right: auto; position: relative; width: 88.28125%; max-width: 1130px; }

.l-inner--narrow { width: 79.64602%; max-width: 900px; }

/* Main ----------------------------------------------------------------- */
/* Sidebar ----------------------------------------------------------------- */
/* ========================================================================== Object ========================================================================== */
/* Component ----------------------------------------------------------------- */
.c-breadcrumb__item { display: inline; }
.c-breadcrumb__item + .c-breadcrumb__item::before { content: "\e910"; color: #999; font-family: "design_plus"; margin-left: 12px; margin-right: 12px; }

.c-breadcrumb__item--home a { color: #b2b2b2; }
.c-breadcrumb__item--home a::before { content: "\e90c"; font-family: "design_plus"; }
.c-breadcrumb__item--home span { display: none; }

/** コメント */
.c-comment { font-size: 12px; margin-bottom: 50px; }

.c-comment__tab { margin-bottom: 25px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.c-comment__tab-item { text-align: center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex: 1; }
.c-comment__tab-item.is-active a, .c-comment__tab-item.is-active p { background: #333; border: 0; color: #fff; position: relative; }
.c-comment__tab-item.is-active a:after, .c-comment__tab-item.is-active p:after { border-color: #333 transparent transparent transparent; border-style: solid; border-width: 10px; margin: auto; position: absolute; right: 0; bottom: -17px; left: 0; content: ""; width: 0; height: 0; }
.c-comment__tab-item a, .c-comment__tab-item p { border: 1px solid #ccc; color: #333; display: block; font-size: 11px; line-height: 180%; padding: 15px; text-decoration: none; width: 100%; }
.c-comment__tab-item a:hover { background: #333; color: #fff; }

/* コメントの基本部分 */
.c-comment__list-item { border: 1px solid #ccc; color: #777; margin-bottom: 15px; padding: 15px 20px 0; }

/* コメント本文 */
.c-comment__item-body p { line-height: 2.4; margin-bottom: 15px; }

/* コメントの情報部分 */
.c-comment__item-header { margin-bottom: 10px; position: relative; }

.c-comment__item-avatar { float: left; margin-right: 10px; width: 40px; height: 40px; }

.c-comment__item-author { display: block; margin-bottom: 10px; padding-top: 3px; }
.c-comment__item-author a { text-decoration: underline; }

.c-comment__item-date { color: #757676; display: block; font-size: 11px; }

.c-comment__item-act { font-size: 11px; margin-top: 5px; padding-left: 10px; position: absolute; top: 0; right: 0; }
.c-comment__item-act > li { display: inline; border-right: 1px solid #aaa; margin-right: 6px; padding-right: 10px; }
.c-comment__item-act > li:last-child { border-right: 0; margin-right: 0; padding-right: 0; }

/* ページナビ */
.c-comment__pager { margin-bottom: 10px; }
.c-comment__pager a, .c-comment__pager span { display: inline; float: left; margin-right: 10px; }
.c-comment__pager span { text-decoration: underline; }

/* メッセージ、警告文 */
.c-comment__item-note { background: #d6f4f0; border: 1px solid #94ddd4; color: #33a8e5; display: block; font-size: 11px; margin-bottom: 1em; padding: 10px 15px; }

/* トラックバック */
.c-comment__trackback-url { background: #fafafa; font-size: 11px; padding: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.trackback_time { font-size: 11px; color: #757676; margin: 0 0 7px 0px; }

.trackback_title { margin: 2px 0 8px 0; margin: 0 0 10px 0px; line-height: 160%; }

/* コメントフォーム */
.c-comment__form-wrapper { border: 1px solid #ccc; margin: 0 0 20px; padding: 15px; }

.c-comment__cancel { color: #666; font-size: 11px; margin-bottom: 1em; }
.c-comment__cancel a { color: #666; }
.c-comment__cancel a:before { content: "\e910"; font-family: "design_plus"; display: inline-block; }

.c-comment__form-login { color: #666; font-size: 11px; }
.c-comment__form-login a { color: #666; }

.c-comment__input { margin-bottom: 12px; text-align: left; }
.c-comment__input input { border: 1px solid #ccc; color: #777; padding-top: 5px; padding-bottom: 5px; width: 100%; }
.c-comment__input textarea { border: 1px solid #ccc; color: #777; font-size: 11px; overflow: auto; margin-top: 15px; width: 100%; height: 150px; }

.c-comment__label-text { color: #666; display: block; font-size: 11px; margin-bottom: 5px; }

.c-comment__form-submit { background: #aaa; color: #fff; cursor: pointer; display: block; font-size: 14px; margin: 15px auto 0; width: 200px; height: 50px; -moz-transition: background-color 200ms ease-in-out; -ms-transition: background-color 200ms ease-in-out; -o-transition: background-color 200ms ease-in-out; -webkit-transition: background-color 200ms ease-in-out; transition: background-color 200ms ease-in-out; }

.c-comment__form-hidden { display: none; }

/* パスワード保護 */
.c-comment__password-protected { background: #3db4b2; border-radius: 5px; color: #fff; margin: 0 38px 30px; padding: 10px 20px; text-align: center; }
.c-comment__password-protected p { font-size: 12px; line-height: 160%; }

 /**
	* header video
	*/
.c-header-video { background: #000; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; width: 100%; }

.c-header-video__overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2; }

 /**
	* header youtube
	*/
.c-header-youtube { background: #000; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; width: 100%; }

.c-header-youtube__overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2; }

/* ヘッダー動画時キャッチコピー */
.p-header-video, .p-header-video .vegas-wrapper, .p-header-youtube { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; }

.p-header-video .caption, .p-header-youtube .caption { text-align: center; width: calc(100% * 1150 / 1280); max-width: 1150px; z-index: 3; }

.p-header-video .caption .title, .p-header-youtube .caption .title { font-size: 40px; line-height: 1.4; margin-bottom: 12.4px; }

.p-header-video .caption .desc, .p-header-youtube .caption .desc { font-size: 16px; line-height: 2.2; margin-bottom: 20.4px; }

/* ヘッダー動画時キャッチコピーのアニメーション */
#js-header-video .caption .title, #js-header-youtube .caption .title, #js-header-video .caption .button, #js-header-youtube .caption .button { opacity: 0; }

#js-header-youtube .caption.first_active .title, #js-header-video .caption.first_active .title { -webkit-animation: opacityAnimation 0.5 ease forwards 0.75s; animation: opacityAnimation 0.5s ease forwards 0.75s; }

#js-header-youtube .caption.first_active .button, #js-header-video .caption.first_active .button { -webkit-animation: opacityAnimation 0.25s ease forwards 1.25s; animation: opacityAnimation 0.25s ease forwards 1.25s; }

@-webkit-keyframes opacityAnimation { 100% { opacity: 1; } }
@keyframes opacityAnimation { 100% { opacity: 1; } }
 /**
	* Load
	*/
@-webkit-keyframes loading-circle { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes loading-circle { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes loading-square-base { 0% { bottom: 10px; opacity: 0; }
  5%, 50% { bottom: 0; opacity: 1; }
  55%, 100% { bottom: -10px; opacity: 0; } }
@keyframes loading-square-base { 0% { bottom: 10px; opacity: 0; }
  5%, 50% { bottom: 0; opacity: 1; }
  55%, 100% { bottom: -10px; opacity: 0; } }
@-webkit-keyframes loading-dots-fadein { 100% { opacity: 1; } }
@keyframes loading-dots-fadein { 100% { opacity: 1; } }
@-webkit-keyframes loading-dots-first-dot { 100% { -webkit-transform: translate(1em); transform: translate(1em); opacity: 1; } }
@keyframes loading-dots-first-dot { 100% { -webkit-transform: translate(1em); transform: translate(1em); opacity: 1; } }
@-webkit-keyframes loading-dots-middle-dots { 100% { -webkit-transform: translate(1em); transform: translate(1em); } }
@keyframes loading-dots-middle-dots { 100% { -webkit-transform: translate(1em); transform: translate(1em); } }
@-webkit-keyframes loading-dots-last-dot { 100% { -webkit-transform: translate(2em); transform: translate(2em); opacity: 0; } }
@keyframes loading-dots-last-dot { 100% { -webkit-transform: translate(2em); transform: translate(2em); opacity: 0; } }
#site-wrap { display: none; }

#site_loader_overlay { background: #fff; opacity: 1; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; width: 100vw; height: 100vh; z-index: 99999; }

/* type1 */
.c-load--type1 { width: 48px; height: 48px; font-size: 10px; text-indent: -9999em; position: fixed; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 50%; -webkit-animation: loading-circle 1.1s infinite linear; animation: loading-circle 1.1s infinite linear; }

/* type2 */
.c-load--type2 { width: 44px; height: 44px; position: fixed; top: 0; left: 0; bottom: 0; right: 0; margin: auto; }
.c-load--type2::before { position: absolute; bottom: 0; left: 0; display: block; width: 12px; height: 12px; content: ''; animation: loading-square-loader 5.4s linear forwards infinite; }
.c-load--type2::after { position: absolute; bottom: 10px; left: 0; display: block; width: 12px; height: 12px; opacity: 0; content: ''; animation: loading-square-base 5.4s linear forwards infinite; }

/* type3 */
.c-load--type3 { width: 100%; min-width: 160px; font-size: 16px; text-align: center; position: fixed; top: 50%; left: 0; opacity: 0; -webkit-animation: loading-dots-fadein .5s linear forwards; animation: loading-dots-fadein .5s linear forwards; }

#site_loader_animation i { width: .5em; height: .5em; display: inline-block; vertical-align: middle; background: #e0e0e0; border-radius: 50%; margin: 0 .25em; -webkit-animation: loading-dots-middle-dots .5s linear infinite; animation: loading-dots-middle-dots .5s linear infinite; }

#site_loader_animation i:first-child { -webkit-animation: loading-dots-first-dot .5s infinite; animation: loading-dots-first-dot .5s linear infinite; opacity: 0; -webkit-transform: translate(-1em); transform: translate(-1em); }

#site_loader_animation i:last-child { -webkit-animation: loading-dots-last-dot .5s linear infinite; animation: loading-dots-last-dot .5s linear infinite; }

.c-meta-box { background: #fafafa; box-sizing: border-box; font-size: 12px; padding: 22px 20px; }

.c-meta-box__item { border-right: 1px solid #ddd; float: left; margin-right: 15px; padding-left: 20px; padding-right: 15px; position: relative; }
.c-meta-box__item:last-child { border-right: none; }
.c-meta-box__item::before { color: #aaa; font-family: "design_plus"; position: absolute; left: 0; }

.c-meta-box__item--author::before { content: "\e90d"; }

.c-meta-box__item--category::before { content: "\e92f"; }

.c-meta-box__item--tag::before { content: "\e935"; }

.c-meta-box__item--comment::before { content: "\e916"; }

.c-menu-button { color: #fff; display: none; position: absolute; top: 0; right: 0; text-align: center; }
.c-menu-button::before { content: "\f0c9"; font-family: "design_plus"; font-size: 18px; }

.c-nav01 { border-collapse: collapse; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.c-nav01__item { border: 1px solid #ddd; box-sizing: border-box; font-size: 14px; line-height: 1.7; position: relative; width: 50%; height: 120px; flex: 1; margin-left: -1px; }
.c-nav01__item a { box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; height: 100%; padding: 36px 70px; }
.c-nav01__item a:hover { background: #f8f8f8; }

.c-nav01__item--prev::before { content: "\e90f"; font-family: "design_plus"; font-size: 18px; line-height: 100%; margin: auto; position: absolute; top: 0; bottom: 0; left: 25px; width: 18px; height: 18px; }

.c-nav01__item--next::after { content: "\e910"; font-family: "design_plus"; font-size: 18px; line-height: 100%; margin: auto; margin: auto; position: absolute; top: 0; bottom: 0; right: 25px; width: 18px; height: 18px; }

.c-pw__desc { line-height: 2.5; }
.c-pw__desc p { line-height: 2.5; margin-bottom: 16px; }

.c-pw__btn { box-sizing: border-box; color: #fff; display: inline-block; padding: 13px 20px; font-size: 14px; text-align: center; line-height: 1; }
.c-pw__btn:hover { background: #333; color: #fff; }

.c-pw__btn--register { min-width: 160px; margin-bottom: 32px; }

.c-pw__btn--submit { min-width: 100px; border: 0; cursor: pointer; }

.c-pw .c-pw__btn:hover { text-decoration: none; }

.c-pw__box { border: 1px solid #ddd; background: #f5f5f5; padding: 25px 36px; margin-bottom: 40px; box-sizing: border-box; }
.c-pw__box .c-pw__box-desc { line-height: 1.2; margin-bottom: 20px; }

.c-pw__box-inner { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }

.c-pw__box-label { margin-right: 14px; }

.c-pw__box-input { border: 1px solid #ddd; box-shadow: none; height: 40px; width: 250px; margin-right: 14px; flex: 1; box-sizing: border-box; padding: 0 10px; }

/** Share */
.c-share__icn { /* use !important to prevent issues with browser extensions that change fonts */ font-family: "design_plus" !important; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; speak: none; text-transform: none; /* Better Font Rendering */ -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

.c-share__icn--facebook::before { content: "\e902"; }

.c-share__icn--facebook2::before { content: "\e903"; }

.c-share__icn--feedly::before { content: "\e907"; }

.c-share__icn--google-plus::before { content: "\e900"; }

.c-share__icn--google-plus2::before { content: "\e901"; }

.c-share__icn--hatebu::before { content: "\e908"; }

.c-share__icn--line::before { content: "\e909"; }

.c-share__icn--pinterest::before { content: "\e905"; }

.c-share__icn--pocket::before { content: "\e90a"; }

.c-share__icn--rss::before { content: "\e90b"; }

.c-share__icn--rss2::before { content: "\e906"; }

.c-share__icn--twitter::before { content: "\e904"; }

.c-share--sm { line-height: 25px; min-width: 27px; }
.c-share--sm .c-share__btn { margin-right: 5px; }
.c-share--sm a { padding: 1px 5px 0; }
.c-share--sm .c-share__icn { font-size: 1.3em; position: relative; top: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1); }
.c-share--sm .c-share__title { line-height: 20px; margin: 0 3px 0 2px; }

.c-share--lg .c-share__btn { margin-right: 1%; margin-bottom: 2px; width: 24%; }
@media only screen and (max-width: 767px) { .c-share--lg .c-share__btn { margin-right: 3%; margin-bottom: 3%; width: 47%; } }
.c-share--lg .c-share__btn:nth-child(4n) { margin-right: 0; }
.c-share--lg .c-share__btn a { padding: 10px 2px; }
.c-share--lg .c-share__icn { font-size: 140%; position: relative; top: 3px; }
.c-share--lg .c-share__title { margin: 0 3px 0 4px; }

.c-share--color a { color: #fff; }
.c-share--color a:hover { -webkit-transform: translate3d(0, 1px, 0); transform: translate3d(0, 1px, 0); }
.c-share--color .c-share__btn--twitter a { background-color: #55acee; }
.c-share--color .c-share__btn--twitter a:hover { background-color: #468ec5; }
.c-share--color .c-share__btn--facebook a { background-color: #35629a; }
.c-share--color .c-share__btn--facebook a:hover { background-color: #1f3669; }
.c-share--color .c-share__btn--google-plus a { background-color: #dd4b39; }
.c-share--color .c-share__btn--google-plus a:hover { background-color: #b94031; }
.c-share--color .c-share__btn--hatebu a { background-color: #3c7dd1; }
.c-share--color .c-share__btn--hatebu a:hover { background-color: #0270ac; }
.c-share--color .c-share__btn--pocket a { background-color: #ee4056; }
.c-share--color .c-share__btn--pocket a:hover { background-color: #c53648; }
.c-share--color .c-share__btn--rss a { background-color: #ffb53c; }
.c-share--color .c-share__btn--rss a:hover { background-color: #e09900; }
.c-share--color .c-share__btn--feedly a { background-color: #6cc655; }
.c-share--color .c-share__btn--feedly a:hover { background-color: #5ca449; }
.c-share--color .c-share__btn--pinterest a { background-color: #d4121c; }
.c-share--color .c-share__btn--pinterest a:hover { background-color: #a42f35; }

.c-share--mono a { background: #fafafa; border: 1px solid rgba(0, 0, 0, 0.1); color: #222; }
.c-share--mono a:hover { border-color: rgba(255, 255, 255, 0.1); color: #fff; }
.c-share--mono .c-share__btn--twitter a:hover { background-color: #55acee; }
.c-share--mono .c-share__btn--facebook a:hover { background-color: #35629a; }
.c-share--mono .c-share__btn--google-plus a:hover { background-color: #dd4b39; }
.c-share--mono .c-share__btn--hatebu a:hover { background-color: #3c7dd1; }
.c-share--mono .c-share__btn--pocket a:hover { background-color: #ee4056; }
.c-share--mono .c-share__btn--rss a:hover { background-color: #ff8c00; }
.c-share--mono .c-share__btn--feedly a:hover { background-color: #6cc655; }
.c-share--mono .c-share__btn--pinterest a:hover { background-color: #d4121c; }

.c-share__btn { box-sizing: border-box; float: left; font-size: 12px; text-align: center; }
.c-share__btn a { border-radius: 2px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03); display: block; }

@media screen and (max-width: 767px) { .c-share--sm .c-share__icn { left: 1px; }
  .c-share--sm .c-share__title { display: none; } }
.c-share--official .c-share__btn { line-height: 1; margin-right: 5px; }
.c-share--official .c-share__btn--twitter { width: 74px; }
.c-share--official .c-share__btn--facebook:hover { text-decoration: none; }
.c-share--official .c-share__btn--google-plus { width: 58px; }
.c-share--official .c-share__btn--pocket { width: 88px; }

/* Project ----------------------------------------------------------------- */
 /**
	* address
	*/
.p-address { color: #fff; display: none; font-size: 12px; line-height: 1.8; margin-bottom: 13.2px; text-align: center; }

 /**
	* article01
	*/
.p-article01__thumbnail { display: block; margin-bottom: 14px; }
.p-article01__thumbnail img { width: 100%; height: auto; }

.p-article01__title { font-size: 14px; line-height: 2; margin-bottom: 7px; }
.p-article01__title a { font-weight: 700; }
.p-article01__title a:hover { color: #e37100; }

.p-article01__meta { font-size: 12px; line-height: 1.9; }

.p-article01__date { color: #999; }
.p-article01__date + .p-article01__category::before { color: #999; content: "|"; display: inline-block; margin-left: 8px; margin-right: 8px; }

.p-article01__category a { color: #999; }

 /**
	* article02
	*/
.p-article02 { background: #fafafa; border: 1px solid #ddd; box-sizing: border-box; padding: 30px 30px 20.2px; }

.p-article02__header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; margin-bottom: 20.2px; }

.p-article02__thumbnail { margin-right: 30px; width: 160px; }
.p-article02__thumbnail img { width: 100%; height: auto; }

.p-article02__content { flex: 1; }

.p-article02__title { font-size: 16px; font-weight: bold; line-height: 2; margin-bottom: 6px; }

.p-article02__date { color: #999; font-size: 12px; }

.p-article02__excerpt { font-size: 14px; line-height: 2.4; }

 /**
	* blog list
	*/
.p-blog-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 110px; width: 102.21239%; }

.p-blog-list__item { margin-right: 2.21239%; margin-bottom: 35.8px; width: 31.85841%; }
.p-blog-list__item:nth-of-type(3n) { margin-right: 0; }
.p-blog-list__item.is-active { -webkit-animation: fadeIn 0.65s ease forwards; animation: fadeIn 0.65s ease forwards; }

 /**
	* breadcrumb
	*/
.p-breadcrumb { font-size: 12px; line-height: 1.7; margin-bottom: 55.8px; }
.p-breadcrumb a:hover { color: #e37100; }

.p-breadcrumb__item + .p-breadcrumb__item::before { font-size: 10px; }

 /**
	* button
	*/
.p-button { background: #ff7f00; border-radius: 4px; box-sizing: border-box; display: inline-block; font-size: 14px; line-height: 50px; text-align: center; min-width: 220px; height: 50px; padding: 0 15px; }
.p-button:hover { background: #e37100; color: #fff; }

 /**
	* copyright
	*/
.p-copyright { background: #000; color: #fff; font-size: 12px; height: 55px; line-height: 55px; overflow: hidden; }
.p-copyright small { float: right; }

 /**
	* CTA
	*/
.p-cta { overflow: hidden; background-position: center center; background-size: cover; height: 400px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center; text-align: center; margin-bottom: 70px; position: relative; }
.p-cta::before { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.p-cta--type2 .p-cta__inner { border: 1px solid #ddd; border-left: 0; box-sizing: border-box; color: #000; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -ms-flex-item-align: stretch; align-self: stretch; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; justify-content: center; flex: initial; width: 50%; padding: 0 4.44444%; }
.p-cta--type2 .p-cta__catch { text-align: left; margin-bottom: 16px; }
.p-cta--type2 .p-cta__desc { text-align: left; }
.p-cta--type2 .p-cta__desc p { margin-bottom: 21px; }

.p-cta--type2-rev { flex-flow: row-reverse nowrap; }
.p-cta--type2-rev .p-cta__inner { border: 1px solid #ddd; border-right: 0; }

.p-cta__inner { color: #fff; padding: 0 20px; position: relative; z-index: 1; flex: 1; }

.p-cta__catch { line-height: 1.5; margin-bottom: 14px; }

.p-cta__desc { line-height: 2; }
.p-cta__desc p { font-size: inherit; line-height: inherit; margin-bottom: 23px; }

.p-cta__btn { align-self: center; box-sizing: border-box; display: inline-block; font-size: 16px; min-width: 300px; height: 55px; line-height: 55px; padding: 0 10px; position: relative; color: #fff; }
.p-cta__btn:after { content: "\e910"; font-family: "design_plus"; position: absolute; top: 0; bottom: 0; right: 11px; margin: auto; }

.p-cta__img { flex: 1; position: relative; width: 50%; height: 100%; overflow: hidden; }
.p-cta__img img { position: absolute; top: 0; left: 50%; transform: translateX(-50%); }

 /**
	* entry
	*/
.p-entry__inner { width: 88.28125%; max-width: 1130px; }

.p-entry__inner--narrow { width: 79.64602%; max-width: 900px; }

.p-entry__body { margin-bottom: 60.2px; }
.p-entry__body .p-entry__ad img { max-width: none; width: auto; }

.p-entry__share { margin-bottom: 27px; }

.p-entry__meta { margin-bottom: 70px; }

.p-entry__nav { margin-bottom: 70px; }

.p-entry__related { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; margin-bottom: 144.6px; }

.p-entry__related-item { margin-right: 2.65487%; width: 23.00885%; }
.p-entry__related-item:last-child { margin-right: 0; }

.p-entry__ad { margin-bottom: 70px; text-align: center; }

.p-entry__ad-item { display: inline-block; }
.p-entry__ad-item + .p-entry__ad-item { margin-left: 50px; }

 /**
	* footer blog
	*/
.p-footer-blog { border-bottom: 1px solid #333; margin-bottom: 50px; overflow: hidden; position: relative; }
.p-footer-blog .slick-dots { bottom: 0; width: 97.41379%; }
.p-footer-blog .slick-dots li { background: #fff; }

.p-footer-blog__catch { color: #fff; font-size: 30px; line-height: 2.2; margin-bottom: 32px; }

.p-footer-blog__archive-link { color: #fff; font-size: 14px; position: absolute; top: 18px; right: 0; }
.p-footer-blog__archive-link::after { content: "\e910"; font-family: "design_plus"; margin-left: 14px; transition-property: none; }
.p-footer-blog__archive-link:hover { color: #e37100; }

.p-footer-blog__list { color: #646767; padding-bottom: 58px; width: 102.65487%; }
.p-footer-blog__list.slick-dotted.slick-slider { margin-bottom: 50px; }

.p-footer-blog__item { float: left; margin-right: 2.58621%; width: 22.41379%; }

.p-footer-blog__item-title a { color: #fff; }

.p-footer-cta { position: fixed; bottom: 0; width: 100%; z-index: 9999; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s; }
.p-footer-cta.is-active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.p-footer-cta__inner { background: #000; box-sizing: border-box; border-top: 1px solid #333; height: 120px; padding: 0 60px 0 40px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; position: relative; }

.p-footer-cta__catch { color: #fff; font-size: 21px; line-height: 1.5; margin-bottom: 5px; }

.p-footer-cta__desc { color: #999; font-size: 14px; line-height: 2; }

.p-footer-cta__btn { color: #fff; font-size: 16px; display: inline-block; min-width: 300px; height: 55px; line-height: 55px; padding: 0 40px 0 10px; text-align: center; position: relative; /*
position: absolute;
top: 0;
bottom: 0;
margin: auto;
right: 60px;
*/ box-sizing: border-box; }
.p-footer-cta__btn:after { content: "\e910"; font-family: "design_plus"; position: absolute; right: 11px; }

.p-footer-cta__close { cursor: pointer; border-radius: 50%; position: absolute; top: 0; bottom: 0; right: 10px; width: 40px; height: 40px; margin: auto; text-align: center; transition: background 0.5s; }
.p-footer-cta__close:hover { background: #444; }
.p-footer-cta__close::before { color: #fff; content: "\e91a"; font-family: "design_plus"; line-height: 40px; height: 40px; }

 /**
	* footer nav
	*/
.p-footer-nav { color: #fff; font-size: 12px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; justify-content: center; }
.p-footer-nav li + li::before { content: "|"; display: inline-block; margin-left: 8px; margin-right: 8px; }
.p-footer-nav a { color: #fff; }
.p-footer-nav a:hover { color: #e37100; }

/*
```
<header id="js-header" class="l-header">
	<div class="l-header__inner">
		<a href="#" id="js-menu-button" class="p-menu-button c-menu-button"></a>
		<nav>
			<ul id="js-global-nav" class="p-global-nav u-clearfix">
				<li class="current-menu-item"><a href="#">HOME</a></li>
				<li class="menu-item-has-children">
					<a href="#js-news-ticker">ABOUT<span></span></a>
					<ul class="sub-menu">
						<li class="menu-item-has-children">
							<a href="#">サブメニューA<span></span></a>
							<ul class="sub-menu">
								<li><a href="#">サブメニューA-1</a></li>
								<li><a href="#">サブメニューA-2</a></li>
								<li><a href="#">サブメニューA-3</a></li>
							</ul>
						</li>
						<li><a href="#">サブメニューB</a></li>
						<li><a href="#">サブメニューC</a></li>
					</ul>
				</li>
				<li><a href="#index-content01">FEATURES</a></li>
				<li><a href="#js-index-content04__carousel">SERVICE</a></li>
				<li><a href="#">REVIEWS</a></li>
				<li><a href="#">DOWNLOAD</a></li>
				<li><a href="#">BLOG</a></li>
			</ul>
		</nav>
	</div>
</header>
```
*/
 /**
	* global nav
	*/
.p-global-nav { font-size: 14px; }
.p-global-nav > li { float: left; line-height: inherit; }
.p-global-nav > li.menu-item-has-children:hover > .sub-menu { top: 100%; }
.p-global-nav > li > a { padding-left: 22px; padding-right: 22px; }
.p-global-nav > li > .sub-menu { top: 75%; left: 0; }
.p-global-nav a { color: #fff; display: block; }
.p-global-nav .menu-item-has-children { position: relative; }
.p-global-nav .menu-item-has-children:hover > .sub-menu { opacity: 1; top: 0; visibility: visible; }
.p-global-nav .sub-menu { line-height: 1.2; opacity: 0; position: absolute; top: -25%; left: 100%; transition: 0.3s; visibility: hidden; z-index: 99; }
.p-global-nav .sub-menu .menu-item-has-children > a { position: relative; }
.p-global-nav .sub-menu .menu-item-has-children > a::after { content: "\e910"; font-family: "design_plus"; position: absolute; right: 16px; }
.p-global-nav .sub-menu a { background: #131e20; box-sizing: border-box; padding: 15px 19px; width: 220px; }

 /**
	* headline
	*/
.p-headline { background: #131e20; box-sizing: border-box; color: #fff; font-size: 16px; height: 55px; line-height: 55px; margin-bottom: 27px; padding-left: 24px; padding-right: 24px; }

 /**
	* header video
	*/
.p-header-video { height: 780px; }

 /**
	* header youtube
	*/
.p-header-youtube { height: 780px; }

 /**
	* hover effect
	*/
.p-hover-effect--type1 { overflow: hidden; }
.p-hover-effect--type1 img { transform: scale(1); transition-duration: 0.75s; vertical-align: middle; }

/*
<a class="p-index-content02__item-image p-hover-effect--02" href="#">
	<img src="http://placehold.jp/340x220.png" alt="">
</a>
*/
.p-hover-effect--type2 { overflow: hidden; }
.p-hover-effect--type2:hover img { -webkit-transform: scale(1.2) translate3d(0, 0, 0); transform: scale(1.2) translate3d(0, 0, 0); }
.p-hover-effect--type2 img { transition-property: opacity, translate3d; transition: 0.5s; }

/*
<a class="p-index-content02__item-image p-hover-effect--03" href="#">
	<img src="http://placehold.jp/340x220.png" alt="">
</a>
*/
.p-hover-effect--type3:hover img { opacity: 0.5; }
.p-hover-effect--type3 img { transition-property: opacity; transition: 0.5s; background: #fff; }

 /**
	* index content01
	*/
.p-index-content01 { padding-top: 92px; padding-bottom: 45px; text-align: center; }

.p-index-content01__catch { font-size: 40px; line-height: 1.4; margin-bottom: 15px; }

.p-index-content01__desc { font-size: 16px; line-height: 2.2; }

 /**
	* index content02
	*/
.p-index-content02 { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding-top: 45px; margin-bottom: 100px; }

.p-index-content02__item { border-right: 1px solid #ddd; padding-left: 27px; padding-right: 27px; flex: 1; }
.p-index-content02__item:last-child { border-right: 0; }

.p-index-content02__item-catch { font-size: 18px; line-height: 1.6; margin-bottom: 25px; text-align: center; font-weight: 700; }

.p-index-content02__item-desc { font-size: 14px; line-height: 2.4; margin-bottom: 30px; }

.p-index-content02__item-image { display: block; }
.p-index-content02__item-image img { width: 100%; height: auto; }

 /**
	* index content03
	*/
.p-index-content03__image { bottom: 0; }

 /**
	* index content04
	*/
.p-index-content04 { padding-top: 92px; padding-bottom: 90px; }
.p-index-content04 .slick-dots { bottom: 8px; }
.p-index-content04 .slick-dots li { background: #000; }

.p-index-content04__catch { font-size: 40px; line-height: 1.4; margin-bottom: 15px; text-align: center; }

.p-index-content04__summary { font-size: 16px; line-height: 2.2; margin-bottom: 90px; text-align: center; }

.p-index-content04__carousel { padding-bottom: 70px; }
.p-index-content04__carousel.slick-slider { margin-bottom: 40px; }
.p-index-content04__carousel img { width: 100%; height: auto; }

.p-index-content04__desc { columns: 2; column-gap: 60px; font-size: 14px; line-height: 2.4; }
.p-index-content04__desc.p-index-content04__desc--full { columns: 1; }

 /**
	* index content05
	*/
.p-index-content05__image { top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

 /**
	* index content06
	*/
.p-index-content06 { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 100px; }

.p-index-content06__item { margin-bottom: 90px; width: 47.43363%; }

.p-index-content06__item-image { border-radius: 50%; margin-left: auto; margin-right: auto; margin-bottom: 35px; overflow: hidden; width: 200px; height: 200px; }
.p-index-content06__item-image img { width: 100%; height: auto; }

.p-index-content06__item-catch { font-size: 18px; font-weight: 700; line-height: 1.6; margin-bottom: 25px; text-align: center; }

.p-index-content06__item-desc { font-size: 14px; line-height: 2.4; }

 /**
	* index content07
	*/
.p-index-content07 { background: #eeefef; height: 580px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.p-index-content07 .slick-dots li { background: #000; }

.p-index-content07__catch { font-size: 40px; line-height: 1.4; margin-bottom: 82px; text-align: center; }

.p-index-content07__review { margin-left: auto; margin-right: auto; padding-bottom: 80px; width: 68.49558%; }

.p-index-content07__archive-link { font-size: 14px; position: absolute; right: 0; bottom: 0; }
.p-index-content07__archive-link::after { content: "\e910"; display: inline-block; font-family: "design_plus"; margin-left: 14px; transition-property: none; }
.p-index-content07__archive-link:hover { color: #e37100; }

 /**
	* index content08
	*/
.p-index-content08 { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; }
.p-index-content08 .p-index-content08__inner { height: auto; }

.p-index-content08__inner { text-align: center; vertical-align: middle; }

 /**
	* index content09
	*/
.p-index-content09 { background: #eeefef; padding-top: 92px; padding-bottom: 100px; }

.p-index-content09__catch { font-size: 40px; line-height: 1.4; margin-bottom: 12px; text-align: center; }

.p-index-content09__desc { font-size: 16px; line-height: 2.2; margin-bottom: 60px; text-align: center; }

.p-index-content09__action { text-align: center; }

 /**
	* index slider
	*/
.p-index-slider { overflow: hidden; position: relative; width: 100%; height: 780px; min-height: 445px; }

.p-index-slider__item { background-position: center center; background-size: cover; display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.p-index-slider__item:first-child { display: block; }
.p-index-slider__item.is-active .p-index-slider__item-catch, .p-index-slider__item.is-active .p-index-slider__item-desc, .p-index-slider__item.is-active .p-index-slider__item-image { opacity: 1; transition: 0.5s; }
.p-index-slider__item.is-active .p-index-slider__item-button { opacity: 1; transition: background-color 0.2s, color 0.2s, opacity 0.25s linear 1.25s; }
.p-index-slider__item.is-active .p-index-slider__item-catch, .p-index-slider__item.is-active .p-index-slider__item-desc { transition-delay: 0.75s; }
.p-index-slider__item.is-active .p-index-slider__item-image { transition-delay: 1.75s; }

.p-index-slider__item--type2 .p-index-slider__item-content { order: 1; }
.p-index-slider__item--type2 .p-index-slider__item-catch, .p-index-slider__item--type2 .p-index-slider__item-desc { -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.p-index-slider__item--type2 .p-index-slider__item-image { -webkit-transform: translateX(-50%); transform: translateX(-50%); order: 0; }
.p-index-slider__item--type2.is-active .p-index-slider__item-catch, .p-index-slider__item--type2.is-active .p-index-slider__item-desc, .p-index-slider__item--type2.is-active .p-index-slider__item-image { -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.p-index-slider__item--type3 .p-index-slider__item-catch, .p-index-slider__item--type3 .p-index-slider__item-desc { -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.p-index-slider__item--type3 .p-index-slider__item-image { -webkit-transform: translateX(50%); transform: translateX(50%); }
.p-index-slider__item--type3.is-active .p-index-slider__item-catch, .p-index-slider__item--type3.is-active .p-index-slider__item-desc, .p-index-slider__item--type3.is-active .p-index-slider__item-image { -webkit-transform: translate(0, 0); transform: translate(0, 0); }

.p-index-slider__item-inner { color: #fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -ms-grid-row-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 445px; margin: auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.p-index-slider__item-content { width: 46.54867%; }

.p-index-slider__item-catch { font-size: 40px; line-height: 1.4; margin-bottom: 12.4px; opacity: 0; }

.p-index-slider__item-desc { font-size: 16px; line-height: 2.2; margin-bottom: 20.4px; opacity: 0; }

.p-index-slider__item-image { opacity: 0; width: 49.55752%; }
.p-index-slider__item-image img { width: 100%; height: auto; }

.p-index-slider__item-button { opacity: 0; }

 /**
	* latest news
	*/
.p-latest-news { margin-bottom: 150px; }

.p-latest-news__title { background: #131e20; color: #fff; font-size: 16px; height: 55px; line-height: 55px; padding-left: 26px; position: relative; }

.p-latest-news__archive-link { color: #fff; font-size: 14px; position: absolute; top: 0; right: 18px; }
.p-latest-news__archive-link:hover { color: #e37100; }
.p-latest-news__archive-link::after { content: "\e910"; font-family: "design_plus"; margin-left: 12px; transition-property: none; }

.p-latest-news__item a { border: 1px solid #ddd; border-top: 0; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; line-height: 54px; height: 54px; padding-left: 23px; padding-right: 45px; overflow: hidden; position: relative; width: 100%; }
.p-latest-news__item a::after { color: #aaa; content: "\e910"; font-family: "design_plus"; position: absolute; top: 0; right: 12px; bottom: 0; }
.p-latest-news__item a:hover { background: #f8f8f8; }
.p-latest-news__item a:hover::after { color: #000; }

.p-latest-news__item-date { color: #999; font-size: 12px; margin-right: 22px; line-height: 54px; height: 54px; }

.p-latest-news__item-title { font-size: 14px; overflow: inherit; text-overflow: ellipsis; white-space: nowrap; }

 /**
	* lightbox
	*/
.lb-nav { background: #222; top: -webkit-calc(100% + 50px); top: calc(100% + 50px); height: 50px; }
.lb-nav a.lb-prev, .lb-nav a.lb-next { background: #333; opacity: 1; line-height: 50px; position: absolute; width: 50px; height: 50px; z-index: 9999; }
.lb-nav a.lb-prev { left: -webkit-calc(50% - 51px); left: calc(50% - 51px); }
.lb-nav a.lb-prev::before { color: #fff; content: "\e90f"; font-family: "design_plus"; }
.lb-nav a.lb-next { left: -webkit-calc(50% + 1px); left: calc(50% + 1px); }
.lb-nav a.lb-next::after { color: #fff; content: "\e910"; font-family: "design_plus"; }

.lb-dataContainer { height: 100px; padding-top: 0; }

.lb-data { background: #000; height: 50px; line-height: 50px; padding: 0; }
.lb-data .lb-details { box-sizing: border-box; float: none; padding: 0 10px; text-align: center; width: 100%; }
.lb-data .lb-caption { display: block !important; height: 50px; line-height: 50px; }
.lb-data .lb-number { padding-bottom: 0; }
.lb-data .lb-close { float: right; line-height: 50px; opacity: 1; position: relative; width: 50px; height: 50px; z-index: 999; }
.lb-data .lb-close::before { color: #aaa; content: "\e91a"; font-size: 18px; font-family: "design_plus"; position: absolute; right: 18px; }

.lightbox .lb-image { border: 0; border-radius: 0; }

 /**
	* load post
	*/
.p-load-post { margin-bottom: 150px; text-align: center; }
.p-load-post a { background: #131e20; color: #fff; display: inline-block; font-size: 14px; text-align: center; line-height: 50px; width: 200px; height: 50px; }

.p-logo a { color: #fff; }

 /**
	* menu button
	*/
.p-menu-button { line-height: 60px; width: 60px; height: 60px; }

 /**
	* news list
	*/
.p-news-list { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 122px; }

.p-news-list__item { box-sizing: border-box; margin-bottom: 28px; width: 48.67257%; }
.p-news-list__item:nth-child(even) { margin-right: 0; }
.p-news-list__item.is-active { -webkit-animation: fadeIn 0.65s ease forwards; animation: fadeIn 0.65s ease forwards; }

 /**
	* news ticker
	*/
.p-news-ticker { background: #131e20; font-size: 14px; height: 65px; line-height: 65px; overflow: hidden; position: relative; }
.p-news-ticker a { color: #fff; }

.p-news-ticker__list { position: relative; width: 100%; }

.p-news-ticker__item { display: none; width: 100%; }
.p-news-ticker__item a:hover { color: #e37100; }

.p-news-ticker__item-date { color: #ff7f00; margin-right: 20px; }

.p-news-ticker__archive-link { margin: auto; position: absolute; top: 0; right: 0; bottom: 0; z-index: 100; }
.p-news-ticker__archive-link::after { content: "\e910"; display: inline-block; font-family: "design_plus"; margin-left: 16px; transition-property: none; }
.p-news-ticker__archive-link:hover { color: #e37100; }

 /**
	* page-links
	*/
.p-page-links { font-size: 14px; }
.p-page-links a, .p-page-links span { color: #fff; display: inline-block; line-height: 40px; text-align: center; width: 40px; height: 40px; }
.p-page-links span, .p-page-links a span:hover { background: #ff7f00; }
.p-page-links a span { background: #131e20; }
.p-page-links .p-page-links__title { background: transparent; color: #000; text-align: left; width: auto; height: auto; }

 /** pagebuilder extend
	*/
 /**
	* pager
	*/
.p-pager { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: center; margin-bottom: 150px; }

.p-pager__item { font-size: 14px; margin-right: 5px; }
.p-pager__item a, .p-pager__item span { color: #fff; display: block; line-height: 40px; text-align: center; width: 40px; height: 40px; }
.p-pager__item a, .p-pager__item .dots { background: #131e20; }
.p-pager__item span { background: #ff7f00; }

 /**
	* page header
	*/
.p-page-header { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; align-items: center; margin-bottom: 55.8px; position: relative; width: 100%; height: 500px; }
.p-page-header::before { background: rgba(0, 0, 0, 0.5); content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }

.p-page-header__inner { text-align: center; position: relative; z-index: 2; -webkit-animation: fadeIn 1s ease 1s; animation: fadeIn 1s ease 1s; animation-fill-mode: both; }

.p-page-header__title { color: #fff; font-size: 40px; line-height: 1.3; margin-bottom: 7px; }

.p-page-header__desc { color: #fff; font-size: 16px; line-height: 2.2; }

.p-page-header__meta { color: #fff; font-size: 14px; line-height: 1.9; }
.p-page-header__meta a { color: #fff; }
.p-page-header__meta a:hover { color: #e37100; }

.p-page-header__date + .p-page-header__category::before { content: "|"; margin-left: 10px; margin-right: 10px; }

 /**
	* pagetop
	*/
.p-pagetop a { background: #333; color: #fff; display: block; height: 56px; position: relative; }
.p-pagetop a:hover { background: #444; }
.p-pagetop a::after { content: "\e911"; font-family: "design_plus"; font-size: 18px; margin: auto; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 18px; height: 18px; }

 /**
	* review
	*/
.p-review__image { border-radius: 50%; float: left; margin-top: 11.2px; margin-right: 30px; width: 150px; height: 150px; }

.p-review__name { font-size: 16px; font-weight: bold; line-height: 2.4; }

.p-review__desc { font-size: 14px; line-height: 2.4; overflow: hidden; }

.p-review__button { background: #131e20; color: #fff; display: block; font-size: 14px; line-height: 50px; margin-top: 14px; margin-bottom: 9.8px; text-align: center; width: 200px; height: 50px; }
.p-review__button::after { content: "\e910"; font-family: "design_plus"; margin-left: 10px; }

/** review footer */
.p-review-footer { border-bottom: 1px solid #ddd; margin-bottom: 150px; text-align: right; }
.p-review-footer + .p-cta { margin-bottom: 150px; }

.p-review-footer__portrait { border-radius: 50%; display: block; margin: 0 auto 15px; width: 150px; height: 150px; }

.p-review-footer__name { font-size: 16px; margin-bottom: 15px; text-align: center; }

.p-review-footer__link { background: #131e20; box-sizing: border-box; color: #fff; display: inline-block; font-size: 14px; margin-bottom: -1px; padding: 0 15px; min-width: 200px; height: 50px; line-height: 50px; text-align: center; }
.p-review-footer__link:hover { background: #ff7f00; }
.p-review-footer__link span::before { content: "\e90f"; display: inline-block; font-family: "design_plus"; margin-right: 10px; }

/** review header */
.p-review-header { border-top: 1px solid #ddd; position: relative; }

.p-review-header__name { background: #ccc; box-sizing: border-box; color: #fff; display: inline-block; font-size: 16px; min-width: 200px; height: 50px; line-height: 50px; margin-top: -1px; margin-bottom: 54px; padding: 0 15px; text-align: center; }

.p-review-header__title { font-size: 30px; line-height: 1.4; margin-bottom: 54px; }

 /**
	* review list
	*/
.p-review-list { margin-bottom: 50px; }

.p-review-list__row { border-bottom: 1px solid #ddd; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 39px; }
.p-review-list__row:first-child { padding-top: 0; }
.p-review-list__row:last-child { border-bottom: 0; }

.p-review-list__item { padding-bottom: 40.2px; width: 46.0177%; }

.slick-dots li { border-radius: 50%; margin: 0 14px 0 0; width: 12px; height: 12px; transition-property: background-color; transition-duration: 0.2s; transition-timing-function: ease; }
.slick-dots li:last-child { margin-right: 0; }
.slick-dots li.slick-active, .slick-dots li:hover { background: #ff7f00; }
.slick-dots li button { width: 12px; height: 12px; }
.slick-dots li button::before { content: ""; }

 /**
	* showcase 
	*/
.p-showcase { color: #fff; overflow: hidden; position: relative; width: 100%; height: 580px; }
.p-showcase::before { box-sizing: border-box; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.p-showcase--reverse .p-showcase__content { right: 0; }
.p-showcase--reverse .p-showcase__image { left: 0; }

.p-showcase__inner { height: 100%; opacity: 0; transition-property: opacity; transform: translateY(10%); }
.p-showcase__inner.is-active { opacity: 1; transform: translateY(0); transition: 0.5s; transition-delay: 0.5s; }

.p-showcase__content { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 46.0177%; }

.p-showcase__catch { font-size: 40px; line-height: 1.4; margin-bottom: 15px; }

.p-showcase__desc { font-size: 16px; line-height: 2.2; margin-bottom: 15px; }

.p-showcase__image { position: absolute; right: 0; width: 50%; }
.p-showcase__image img { width: 100%; height: auto; }

 /**
	* social nav
	*/
.p-social-nav { margin-bottom: 30px; text-align: center; }

.p-social-nav__item { display: inline-block; margin-right: 20px; }
.p-social-nav__item:last-child { margin-right: 0; }
.p-social-nav__item a { color: #fff; }
.p-social-nav__item a::before { font-family: "design_plus"; transition-property: none; }
.p-social-nav__item a:hover { color: #e37100; }

.p-social-nav__item--facebook a::before { content: "\e902"; }

.p-social-nav__item--twitter a::before { content: "\e904"; }

.p-social-nav__item--instagram a::before { content: "\ea92"; }

.p-social-nav__item--rss a::before { content: "\e90b"; }

 /**
	* widget area
	*/
.p-widget-area { background: #eeefef; }

.p-widget-area__inner { padding-top: 80px; padding-bottom: 80px; }

.p-widget-area__column { float: left; margin-right: 55px; width: -webkit-calc((100% - 110px) / 3); width: calc((100% - 110px) / 3); }
.p-widget-area__column:last-child { margin-right: 0; }

 /**
	* widget dropdown
	*/
.p-widget-dropdown { background: #131e20; font-size: 14px; height: 45px; line-height: 45px; position: relative; }
.p-widget-dropdown::after { color: #a9a9a9; content: "\e90e"; font-family: "design_plus"; position: absolute; top: 0; right: 17px; }
.p-widget-dropdown select { color: #fff; font-family: inherit; width: 100%; height: 100%; padding-left: 19px; padding-right: 17px; }

 /**
	* widget list
	*/
.p-widget-list li { font-size: 14px; }

.p-widget-list__item { background: #fff; font-size: 14px; line-height: 1.7; margin-bottom: 2px; }
.p-widget-list__item:last-child { margin-bottom: 0; }
.p-widget-list__item a { display: block; padding: 12px 52px 12px 22px; position: relative; }
.p-widget-list__item a::after { color: #aaa; content: "\e910"; font-family: "design_plus"; font-size: 16px; margin: auto; position: absolute; top: 50%; right: 12px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.p-widget-list__item a:hover::after { color: #000; transition: none; }

.p-widget-list__item-date { color: #999; display: block; font-size: 12px; }

 /**
	* widget search
	*/
.p-widget-search { position: relative; }

.p-widget-search__input { height: 45px; line-height: 45px; padding: 0 10px; width: -webkit-calc(100% - 45px); width: calc(100% - 45px); }

.p-widget-search__submit { background: #131e20; color: #fff; cursor: pointer; font-family: "design_plus"; font-size: 20px; position: absolute; right: 0; width: 45px; height: 45px; }

 /**
	* widget
	*/
.p-widget { margin-bottom: 60px; }
.p-widget:last-child { margin-bottom: 0; }

.p-widget__title { font-size: 16px; margin-bottom: 20px; }

/* default widget */
.p-widget li { line-height: 1.7; }
.p-widget .calendar_wrap caption { margin-bottom: 20px; }
.p-widget .calendar_wrap tbody { line-height: 1.7; margin-bottom: 20px; }
.p-widget .calendar_wrap tfoot { line-height: 1.7; }
.p-widget .searchform { position: relative; }
.p-widget .searchform #s { height: 45px; line-height: 45px; padding: 0 55px 0 10px; width: -webkit-calc(100% - 45px); width: calc(100% - 45px); }
.p-widget .searchform #searchsubmit { background: #131e20; color: #fff; cursor: pointer; position: absolute; top: 0; right: 0; width: 45px; height: 45px; }

 /**
	* wordpress preset style
	*/
/* alignment */
.p-entry__body .alignright { float: right; }

.p-entry__body .alignleft { float: left; }

.p-entry__body .aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 7px; }

.p-entry__body blockquote.alignleft, .p-entry__body img.alignleft { margin: 7px 24px 7px 0; }

.p-entry__body .wp-caption.alignleft { margin: 7px 14px 7px 0; }

.p-entry__body blockquote.alignright, .p-entry__body img.alignright { margin: 7px 0 7px 24px; }

.p-entry__body .wp-caption.alignright { margin: 7px 0 7px 14px; }

.p-entry__body blockquote.aligncenter, .p-entry__body img.aligncenter, .p-entry__body .wp-caption.aligncenter { margin-top: 7px; margin-bottom: 7px; }

/* text and headline */
.p-entry__body p { font-size: 14px; line-height: 2.4; margin-bottom: 30.4px; }
.p-entry__body h1, .p-entry__body h2, .p-entry__body h3, .p-entry__body h4, .p-entry__body h5, .p-entry__body h6 { clear: both; line-height: 1.4; margin-bottom: 24.2px; }
.p-entry__body h2 { font-size: 30px; }
.p-entry__body h3 { font-size: 130%; }
.p-entry__body h4 { font-size: 120%; }
.p-entry__body h5 { font-size: 110%; }
.p-entry__body h6 { font-size: 100%; }

/* image */
.p-entry__body img[class*="align"], .p-entry__body img[class*="wp-image-"], .p-entry__body img[class*="attachment-"], .p-entry__body .size-full, .p-entry__body .size-large, .p-entry__body .wp-post-image, .p-entry__body img { max-width: 100%; height: auto; }

/* list */
.p-entry__body li, .p-entry__body dt, .p-entry__body dd { line-height: 2.2; }

.p-entry__body ul, .p-entry__body ol, .p-entry__body dl { margin-bottom: 24px; }

.p-entry__body ol { list-style: decimal outside none; margin-left: 1.5em; }

.p-entry__body ul { list-style: circle outside none; margin-left: 1.3em; }

.p-entry__body li > ul, .p-entry__body li > ol { margin-bottom: 0; }

.p-entry__body dt { font-weight: bold; }

.p-entry__body dd { margin-bottom: 1em; }

/* table */
.p-entry__body table { margin: 0 0 24px 0; }

.p-entry__body td, .p-entry__body th { border: 1px solid #ddd; padding: 10px 15px 7px; line-height: 2.2; background: #fff; font-size: 14px; }

.p-entry__body th { background: #fafafa; font-weight: normal; }

/* table style */
.table_no_border th, .table_no_border td { border: none; padding-left: 0; }

.table_border_horizontal th, .table_border_horizontal td { border-left: none; border-right: none; padding-left: 0; }

/* block quote */
.p-entry__body blockquote { margin: 0 0 25px 0; padding: 27px 30px 0; border: 1px solid #ccc; box-shadow: 0px 4px 0px 0px #f2f2f2; position: relative; }

.p-entry__body blockquote:before { content: '"'; font-style: italic; font-size: 30px; font-weight: normal; line-height: 40px; width: 30px; height: 30px; position: absolute; top: 5px; left: 10px; color: #5cbcd7; }

.p-entry__body blockquote:after { content: '"'; font-style: italic; font-size: 30px; font-weight: normal; text-align: left; line-height: 60px; width: 30px; height: 30px; position: absolute; bottom: 7px; right: -2px; color: #5cbcd7; }

.p-entry__body blockquote cite { border-top: 1px dotted #aaa; display: block; padding: 20px 0 0 0; font-style: italic; text-align: right; font-size: 90%; }

/* captions */
.p-entry__body .wp-caption { margin-bottom: 24px; background: #fff; border: 1px solid #ccc; padding: 5px; max-width: 100%; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.p-entry__body .wp-caption-text { text-align: center; font-size: 12px; font-style: italic; line-height: 1.5; margin: 9px auto; }

.p-entry__body .wp-caption img[class*="wp-image-"] { display: block; margin: 0 auto; }

/* gallery */
.gallery { margin-bottom: 20px; }

.gallery a img { border: 0 !important; }

.gallery-item { float: left; margin: 0 4px 4px 0; overflow: hidden; position: relative; }

.gallery-columns-1 .gallery-item { max-width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); }

.gallery-columns-3 .gallery-item { max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px); }

.gallery-columns-4 .gallery-item { max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px); }

.gallery-columns-5 .gallery-item { max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px); }

.gallery-columns-6 .gallery-item { max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px); }

.gallery-columns-7 .gallery-item { max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px); }

.gallery-columns-8 .gallery-item { max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px); }

.gallery-columns-9 .gallery-item { max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px); }

.gallery-columns-10 .gallery-item { max-width: 7%; max-width: -webkit-calc(9.4% - 0px); max-width: calc(9.4% - 0px); }

.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n), .gallery-columns-10 .gallery-item:nth-of-type(10n) { margin-right: 0; }

.gallery-caption { background-color: rgba(0, 0, 0, 0.7); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 12px; line-height: 1.5; margin: 0; max-height: 50%; opacity: 0; padding: 6px 8px; position: absolute; bottom: 0; left: 0; text-align: left; width: 100%; }

.gallery-caption:before { content: ""; height: 100%; min-height: 49px; position: absolute; top: 0; left: 0; width: 100%; }

.gallery-item:hover .gallery-caption { opacity: 1; }

.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption, .gallery-columns-10 .gallery-caption { display: none; }

/* etc */
.p-entry__body .wp-smiley { border: 0; margin-bottom: 0; margin-top: 0; padding: 0; }

.p-entry__body address { margin: 0 0 24px 0; line-height: 2.2; }

.p-entry__body pre { border-left: 5px solid #7fc120; font-size: 12px; margin: 0 0 27px 0; line-height: 25px; background: url(img/common/pre.gif) repeat left top; padding: 0 17px; overflow: auto; }

.p-entry__body .mejs-container { margin: 12px 0 25px; }

/* Utility ----------------------------------------------------------------- */
/** clearfix */
.u-clearfix::after { clear: both; content: " "; display: table; }

/** float */
.u-left { float: left; }

.u-right { float: right; }

/** hidden */
.u-hidden { display: none; }

@media only screen and (max-width: 991px) { .u-hidden-sm { display: none; } }
/** overflow */
.u-overflow-hidden { overflow: hidden; }

/**  Column layout - カラムレイアウト  */
.post_row { line-height: 2; margin-left: -15px; margin-right: -15px; }
.post_row:before, .post_row:after { content: " "; display: table; }
.post_row:after { clear: both; }

.post_col, .post_col-2, .post_col-3 { float: left; margin-bottom: 2em; min-height: 1px; padding-left: 15px; padding-right: 15px; position: relative; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@media screen and (min-width: 768px) { .post_col-2 { width: 50%; /* 2カラム */ }
  .post_col-3 { width: 33.33333%; } }
@media screen and (min-width: 1024px) { .post_col-2 { width: 50%; /* 2カラム */ }
  .post_col-3 { width: 33.33333%; } }
/** headline - 見出しのスタイル */
.style3a, .style3b, .style4a, .style4b, .style5a, .style5b, .style6 { line-height: 1.6; }

/* h3 */
.style3a { border-top: 1px solid #222; border-bottom: 1px solid #222; font-size: 22px; font-weight: 400; margin: 3em 0 1.5em; padding: 1.1em .2em 1em; }

.style3b { background: #fafafa; border-top: 2px solid #222; border-bottom: 1px solid #ddd; box-shadow: 0px 1px 2px #f7f7f7; font-size: 22px; font-weight: 400; margin: 3em 0 1.5em; padding: 1.1em .9em 1em; }

/* h4 */
.style4a { border-bottom: none; border-left: 2px solid #222; font-size: 18px; font-weight: 400; margin: 2.5em 2px 1.2em; padding: .3em 0 .3em .8em; }

.style4b { border-bottom: 1px dotted #aaa; font-size: 18px; font-weight: 400; margin: 2.5em 0 1.2em; padding: .9em 0 .8em; }

/* h5 */
.style5a { background: #f5f5f5; box-shadow: 0px 2px 0px 0px #f2f2f2; font-size: 18px; font-weight: 700; margin: 2em 0 1em; padding: .5em .8em .3em 1em; }

.style5b { background: #222; border-radius: 4px; box-shadow: 0px 2px 0px 0px #f2f2f2; color: #fff; font-size: 18px; font-weight: 400; margin: 2em 0 1em; padding: .5em .8em .4em 1em; }

/* h6 */
.style6 { color: #222; font-size: 16px; font-weight: bold; margin: 2em 0 1em; padding: .5em .8em .8em 1.3em; position: relative; }
.style6:before { background: #222; content: ""; position: absolute; top: .5em; left: .2em; width: 12px; height: 12px; }

.news_headline1 { border-left: 8px solid #444; font-size: 1.2em; line-height: 1.2; margin: 80px 0 25px 0; padding: .5em; position: relative; }
.news_headline1:after { border-bottom: 1px dotted #ddd; content: ""; position: absolute; bottom: 0px; left: 0; width: 100%; height: 0; }

.news_headline2 { border-left: 6px solid #545454; font-size: 1.1em; line-height: 26px; margin: 40px 0 20px 0; padding: 0 .5em; }

.balloon { background: #222; border-bottom: 0; clear: both; color: #fff; display: block; font-size: 20px; font-weight: 400; margin: 50px 0 22px; min-width: 115px; padding: .5em 18px .5em; position: relative; text-align: left; width: auto; z-index: 0; }
.balloon:after { border-color: #222 transparent transparent transparent; border-style: solid; border-width: 10px 10px 0 10px; bottom: -10px; content: ""; display: block; margin-left: -10px; position: absolute; left: 30px; width: 0px; height: 0px; }

/** flame - 囲み枠  */
.well { background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; margin-bottom: 20px; min-height: 20px; padding: 19px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.well2 { margin: 1em 0 30px; padding: 1em 1.5em; line-height: 2; border: 1px solid #cdcdcd; background: #fcfcfc; box-shadow: 0 1px 3px 0 rgba(195, 195, 195, 0.3); }

.well3 { margin: 2em 0 2.5em; padding: 1em 1.5em; line-height: 2.0; border: 1px dashed #cdcdcd; background: #fcfcfc; box-shadow: 0 1px 3px 0 rgba(195, 195, 195, 0.3); }

.wl_red { background-color: #f2dede; border-color: #ebccd1; color: #a94442; }

.wl_yellow { background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b; }

.wl_blue { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }

.wl_green { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }

/** button - CSSボタンのスタイル  */
.q_button { background-color: #535353; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); box-sizing: border-box; color: #fff !important; display: inline-block; font-size: 100%; font-weight: 400; min-width: 200px; margin: 0; max-width: 90%; padding: .6em 1.3em .5em; transition: all 0.3s ease-in-out 0s; text-decoration: none; text-align: center; vertical-align: middle; }
.q_button:hover, .q_button:focus { background-color: #7d7d7d; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset; color: #fff; text-decoration: none; }

/* Button option */
.rounded { border-radius: 6px; }

.pill { border-radius: 50px; }

.sz_full { display: block; font-size: 110%; max-width: 100%; min-width: 100px; padding: 1em 1.5em .9em; }

.sz_l { font-size: 110%; max-width: 90%; min-width: 350px; padding: .8em 1.5em .7em; }

@media screen and (max-width: 767px) { .sz_l { box-sizing: border-box; max-width: 100%; min-width: 0; width: 100%; } }
.sz_s { min-width: 100px; max-width: 90%; font-size: 85%; padding: .4em 1em .3em; }

.bt_red { background: #c01f0e; color: #fff; }
.bt_red:hover, .bt_red:focus { background-color: #d33929; color: #fff; }

.bt_yellow { background: #f1c40f; color: #fff; }
.bt_yellow:hover, .bt_yellow:focus { background-color: #f9d441; color: #fff; }

.bt_blue { background: #2980b9; color: #fff; }
.bt_blue:hover, .bt_blue:focus { background-color: #3a91c9; color: #fff; }

.bt_green { background: #27ae60; color: #fff; }
.bt_green:hover, .bt_green:focus { background-color: #39c574; color: #fff; }

/** Youtube responsive - Youtube動画のレスポンシブ表示 */
.ytube { position: relative; height: 0; margin-top: 20px; margin-bottom: 20px; padding-bottom: 56.25%; padding-top: 30px; overflow: hidden; }
.ytube iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }

/** Table responsive - テーブルのレスポンシブ表示 */
.rps_table { line-height: 2.0; }

@media only screen and (max-width: 480px) { .rps_table tr { display: block; margin-bottom: 1.5em; }
  .rps_table th, .rps_table td { display: list-item; list-style-type: none; border: none; } }
/** Cardlink style - カードリンクのスタイル */
.cardlink { padding: 12px; margin: 10px 0; border: 1px solid #ddd; word-wrap: break-word; max-width: 100%; background: #fafafa; }

.cardlink_thumbnail { float: left; margin-right: 20px; }

.cardlink_content { line-height: 1.6; }

.cardlink_timestamp { display: inline; margin: 0; padding: 0; vertical-align: top; color: #222; line-height: 1.6; font-size: 12px; }

.cardlink_title { font-size: 14px; margin: 0 0 5px; }
.cardlink_title a { font-weight: bold; color: #000; text-decoration: none; }
.cardlink_title a:hover { text-decoration: underline; }

.cardlink_excerpt { color: #333; font-size: 12px; overflow: hidden; line-height: 1.8; }

.cardlink_footer { clear: both; }

.clear { clear: both; }

@media screen and (max-width: 767px) { .cardlink_thumbnail { float: none; }
  .cardlink_timestamp { line-height: 2.4; vertical-align: middle; }
  .cardlink_excerpt { float: none; } }
/** Contactform - お問い合わせフォーム */
.wpcf7 { background: #fafafa; border: 1px solid #ddd; font-size: 14px; margin: 0 0 2.5em !important; padding: 0; width: 100%; }
.wpcf7 form { margin: 1.5em 1.5em 0; }
.wpcf7 p { margin-bottom: 1em; font-size: 12px; }
.wpcf7 input, .wpcf7 textarea { border: 1px solid #ccc; box-sizing: border-box; line-height: 1.2; padding: 8px; width: 100%; width: auto; }
.wpcf7 select, .wpcf7 input[type=checkbox], .wpcf7 input[type=radio] { border: 1px solid #ccc; max-width: 97%; padding: 8px; width: auto; }
.wpcf7 select, .wpcf7 .wpcf7-list-item-label { font-size: 14px; line-height: 1.2; }
.wpcf7 .wpcf7-list-item { display: block; }
.wpcf7 textarea { height: 300px; }
.wpcf7 input:focus, .wpcf7 textarea:focus { border: 1px solid #bbb; box-shadow: inner 0 0 5px rgba(0, 0, 0, 0.5); outline: none; }
.wpcf7 .wpcf7-submit { box-sizing: border-box; position: relative; display: block; width: 225px; height: 48px; margin: 30px auto 0; background-color: #333333; cursor: pointer; border: none !important; color: #fff; text-align: center; text-decoration: none; font-size: 14px; line-height: 1.5; outline: none; -webkit-transition: all .3s; transition: all .3s; }
.wpcf7 .wpcf7-submit:before, .wpcf7 .wpcf7-submit:after { box-sizing: border-box; }
.wpcf7 .wpcf7-submit:hover { background-color: #666666; }
.wpcf7 .wpcf7-submit .wpcf7-not-valid { background: pink; }
.wpcf7 .wpcf7-submit .wpcf7-response-output { margin: 10px 0 0; padding: 8px 35px 8px 14px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.wpcf7 .wpcf7-submit .wpcf7-validation-errors { color: #B94A48; background-color: #F2DEDE; border: 1px solid #EED3D7; }
.wpcf7 .wpcf7-submit .wpcf7-mail-sent-ok { color: #3A87AD; background-color: #D9EDF7; border: 1px solid #BCE8F1; }

/** font-size - フォントサイズ */
.text70 { font-size: 70%; }

.text80 { font-size: 80%; }

.text90 { font-size: 90%; }

.text100 { font-size: 100%; }

.text110 { font-size: 110%; }

.text120 { font-size: 120%; }

.text130 { font-size: 130%; }

.text140 { font-size: 140%; }

.text150 { font-size: 150%; }

.text160 { font-size: 160%; }

.text170 { font-size: 170%; }

.text180 { font-size: 180%; }

.text190 { font-size: 190%; }

.text200 { font-size: 200%; }

.text210 { font-size: 210%; }

.text220 { font-size: 220%; }

.b { font-weight: 700; }

/* 太字 */
.u { text-decoration: underline; }

/* 下線 */
.del { text-decoration: line-through; }

/* 打ち消し線 */
/** font-color - フォントカラー */
.red { color: red; }

/* 赤色 */
.blue { color: #2ca9e1; }

/* 青色 */
.green { color: #82ae46; }

/* 緑色 */
.orange { color: #ff7d00; }

/* 橙色 */
.yellow { color: #fff000; }

/* 黄色 */
.pink { color: #ff0084; }

/* ピンク */
.gray { color: #999999; }

/* グレー */
/** background-color - 背景色 */
/* 青色の文字背景 */
.bg-blue { background-color: #4ab0f5; padding: 2px; }

/* 赤色の文字背景 */
.bg-red { background-color: red; padding: 2px; }

/* 黄色の文字背景 */
.bg-yellow { background-color: #ff0; padding: 2px; }

/** text-align - 配置 */
.align1 { text-align: center !important; }

/* 中央寄せ */
.align2 { text-align: right !important; }

/* 右寄せ */
.align3 { text-align: left !important; }

/* 左寄せ */
/** float - 回り込み */
/* 右に回り込み */
.r-flo { float: right; margin: 10px; }

/* 左に回り込み */
.l-flo { float: left; margin: 10px; }

.f-clear { clear: both; }

/* 回り込みの解除 */
/** hover - 画像リンクマウスオーバー時の不透明度 */
a img.fade { background: none !important; outline: none; -webkit-transition: all .3s; transition: all .3s; }

a:hover img.fade { opacity: 0.7; filter: alpha(opacity=70); -ms-filter: "alpha( opacity=70 )"; background: none !important; }

/** text-style - テキストスタイル */
/* 注意書き等で二行目以降を字下げ */
.att { padding-left: 1em; text-indent: -1em; }

/* テキストボックス */
.att_box { margin: 2em 0 2.5em; padding: 1em 1.2em; line-height: 2.0; border: 1px dotted #cccccc; background: #fcfcfc; box-shadow: 0px 4px 0px 0px #f7f7f7; }

/** margin - 要素の外側の余白 */
.m0 { margin: 0!important; }

/* margin 0px を指定するクラス */
.mt0 { margin-top: 0!important; }

/* margin-top0px を指定するクラス */
.mr0 { margin-right: 0!important; }

/* margin-right0px を指定するクラス*/
.mb0 { margin-bottom: 0!important; }

/* margin-bottom0px を指定するクラス*/
.ml0 { margin-left: 0!important; }

/* margin-left0px を指定するクラス*/
.m5 { margin: 5px !important; }

.mt5 { margin-top: 5px !important; }

.mr5 { margin-right: 5px !important; }

.mb5 { margin-bottom: 5px !important; }

.ml5 { margin-left: 5px !important; }

.m10 { margin: 10px !important; }

.mt10 { margin-top: 10px !important; }

.mr10 { margin-right: 10px !important; }

.mb10 { margin-bottom: 10px !important; }

.ml10 { margin-left: 10px !important; }

.m15 { margin: 15px !important; }

.mt15 { margin-top: 15px !important; }

.mr15 { margin-right: 15px !important; }

.mb15 { margin-bottom: 15px !important; }

.ml15 { margin-left: 15px !important; }

.m20 { margin: 20px !important; }

.mt20 { margin-top: 20px !important; }

.mr20 { margin-right: 20px !important; }

.mb20 { margin-bottom: 20px !important; }

.ml20 { margin-left: 20px !important; }

.m25 { margin: 25px !important; }

.mt25 { margin-top: 25px !important; }

.mr25 { margin-right: 25px !important; }

.mb25 { margin-bottom: 25px !important; }

.ml25 { margin-left: 25px !important; }

.m30 { margin: 30px !important; }

.mt30 { margin-top: 30px !important; }

.mr30 { margin-right: 30px !important; }

.mb30 { margin-bottom: 30px !important; }

.ml30 { margin-left: 30px !important; }

.m35 { margin: 35px !important; }

.mt35 { margin-top: 35px !important; }

.mr35 { margin-right: 35px !important; }

.mb35 { margin-bottom: 35px !important; }

.ml35 { margin-left: 35px !important; }

.m40 { margin: 40px !important; }

.mt40 { margin-top: 40px !important; }

.mr40 { margin-right: 40px !important; }

.mb40 { margin-bottom: 40px !important; }

.ml40 { margin-left: 40px !important; }

.m45 { margin: 45px !important; }

.mt45 { margin-top: 45px !important; }

.mr45 { margin-right: 45px !important; }

.mb45 { margin-bottom: 45px !important; }

.ml45 { margin-left: 45px !important; }

.m50 { margin: 50px !important; }

.mt50 { margin-top: 50px !important; }

.mr50 { margin-right: 50px !important; }

.mb50 { margin-bottom: 50px !important; }

.ml50 { margin-left: 50px !important; }

.m55 { margin: 55px !important; }

.mt55 { margin-top: 55px !important; }

.mr55 { margin-right: 55px !important; }

.mb55 { margin-bottom: 55px !important; }

.ml55 { margin-left: 55px !important; }

.m60 { margin: 60px !important; }

.mt60 { margin-top: 60px !important; }

.mr60 { margin-right: 60px !important; }

.mb60 { margin-bottom: 60px !important; }

.ml60 { margin-left: 60px !important; }

.m65 { margin: 65px !important; }

.mt65 { margin-top: 65px !important; }

.mr65 { margin-right: 65px !important; }

.mb65 { margin-bottom: 65px !important; }

.ml65 { margin-left: 65px !important; }

.m70 { margin: 70px !important; }

.mt70 { margin-top: 70px !important; }

.mr70 { margin-right: 70px !important; }

.mb70 { margin-bottom: 70px !important; }

.ml70 { margin-left: 70px !important; }

.m75 { margin: 75px !important; }

.mt75 { margin-top: 75px !important; }

.mr75 { margin-right: 75px !important; }

.mb75 { margin-bottom: 75px !important; }

.ml75 { margin-left: 75px !important; }

.m80 { margin: 80px !important; }

.mt80 { margin-top: 80px !important; }

.mr80 { margin-right: 80px !important; }

.mb80 { margin-bottom: 80px !important; }

.ml80 { margin-left: 80px !important; }

/** padding - 要素の内側の余白 */
.p0 { padding: 0!important; }

.pt0 { padding-top: 0!important; }

.pr0 { padding-right: 0!important; }

.pb0 { padding-bottom: 0!important; }

.pl0 { padding-left: 0!important; }

.p5 { padding: 5px !important; }

.pt5 { padding-top: 5px !important; }

.pr5 { padding-right: 5px !important; }

.pb5 { padding-bottom: 5px !important; }

.pl5 { padding-left: 5px !important; }

.p10 { padding: 10px !important; }

.pt10 { padding-top: 10px !important; }

.pr10 { padding-right: 10px !important; }

.pb10 { padding-bottom: 10px !important; }

.pl10 { padding-left: 10px !important; }

.p15 { padding: 15px !important; }

.pt15 { padding-top: 15px !important; }

.pr15 { padding-right: 15px !important; }

.pb15 { padding-bottom: 15px !important; }

.pl15 { padding-left: 15px !important; }

.p20 { padding: 20px !important; }

.pt20 { padding-top: 20px !important; }

.pr20 { padding-right: 20px !important; }

.pb20 { padding-bottom: 20px !important; }

.pl20 { padding-left: 20px !important; }

.p25 { padding: 25px !important; }

.pt25 { padding-top: 25px !important; }

.pr25 { padding-right: 25px !important; }

.pb25 { padding-bottom: 25px !important; }

.pl25 { padding-left: 25px !important; }

.p30 { padding: 30px !important; }

.pt30 { padding-top: 30px !important; }

.pr30 { padding-right: 30px !important; }

.pb30 { padding-bottom: 30px !important; }

.pl30 { padding-left: 30px !important; }

.p35 { padding: 35px !important; }

.pt35 { padding-top: 35px !important; }

.pr35 { padding-right: 35px !important; }

.pb35 { padding-bottom: 35px !important; }

.pl35 { padding-left: 35px !important; }

.p40 { padding: 40px !important; }

.pt40 { padding-top: 40px !important; }

.pr40 { padding-right: 40px !important; }

.pb40 { padding-bottom: 40px !important; }

.pl40 { padding-left: 40px !important; }

.p45 { padding: 45px !important; }

.pt45 { padding-top: 45px !important; }

.pr45 { padding-right: 45px !important; }

.pb45 { padding-bottom: 45px !important; }

.pl45 { padding-left: 45px !important; }

.p50 { padding: 50px !important; }

.pt50 { padding-top: 50px !important; }

.pr50 { padding-right: 50px !important; }

.pb50 { padding-bottom: 50px !important; }

.pl50 { padding-left: 50px !important; }

.p55 { padding: 55px !important; }

.pt55 { padding-top: 55px !important; }

.pr55 { padding-right: 55px !important; }

.pb55 { padding-bottom: 55px !important; }

.pl55 { padding-left: 55px !important; }

.p60 { padding: 60px !important; }

.pt60 { padding-top: 60px !important; }

.pr60 { padding-right: 60px !important; }

.pb60 { padding-bottom: 60px !important; }

.pl60 { padding-left: 60px !important; }

.p65 { padding: 65px !important; }

.pt65 { padding-top: 65px !important; }

.pr65 { padding-right: 65px !important; }

.pb65 { padding-bottom: 65px !important; }

.pl65 { padding-left: 65px !important; }

.p70 { padding: 70px !important; }

.pt70 { padding-top: 70px !important; }

.pr70 { padding-right: 70px !important; }

.pb70 { padding-bottom: 70px !important; }

.pl70 { padding-left: 70px !important; }

.p75 { padding: 75px !important; }

.pt75 { padding-top: 75px !important; }

.pr75 { padding-right: 75px !important; }

.pb75 { padding-bottom: 75px !important; }

.pl75 { padding-left: 75px !important; }

.p80 { padding: 80px !important; }

.pt80 { padding-top: 80px !important; }

.pr80 { padding-right: 80px !important; }

.pb80 { padding-bottom: 80px !important; }

.pl80 { padding-left: 80px !important; }

